

  {% unless template.name == 'index' or template.name == 'cart' %}
  <nav class="breadcrumb {% if template == 'product' %}product__breadcrumb{% endif %}" role="navigation" aria-label="breadcrumbs">
    <a href="/" title="Home">Home</a>

    {% if template.name == 'product' %}

      {% if collection %}
        <span class="divider" aria-hidden="true">></span>
        {% if collection.handle %}
          {% capture url %}/collections/{{ collection.handle }}{% endcapture %}
          {{ collection.title | link_to: url }}
        {% endif %}
      {% endif %}
      <span class="divider" aria-hidden="true">></span>
        {{ product.title }}

    {% elsif template.name == 'collection' and collection.handle %}

      <span class="divider" aria-hidden="true">></span>

        {% capture url %}/collections/{{ collection.handle }}{% endcapture %}
        {{ collection.title | link_to: url }}
    {{ product.handle }}

        {%comment%}{% for tag in current_tags %}
          {% include 'filter-out-custom-tags' %}

          {%- assign tag_name = tag | strip -%}
          {%- assign tag_text = tag_name | capitalize -%}
          <span>{{ tag_text }}</span>

          {% unless forloop.last %}
            <span>+</span>
          {% endunless %}

        {% endfor %}{%endcomment%}

    {% elsif template.name == 'blog' %}

      <span class="divider" aria-hidden="true">></span>
      {% if current_tags %}
        {{ blog.title | link_to: blog.url }}
        <span class="divider" aria-hidden="true">></span>
        <span>{{ current_tags | join: " + " }}</span>
      {% endif %}

    {% elsif template.name == 'article' %}

      <span class="divider" aria-hidden="true">></span>
      {{ blog.title | link_to: blog.url }}
      <span class="divider" aria-hidden="true">></span>

    {% elsif template.name == 'page' %}

      <span class="divider" aria-hidden="true">></span>

    {% else %}

      <span class="divider" aria-hidden="true">></span>
      <span>{{ page_title }}</span>

    {% endif %}
  </nav>
  {% endunless %}
