{{ 'bss-file-configdata.js' | asset_url | script_tag }}<script>
              if (typeof BSS_PL == 'undefined') {
                  var BSS_PL = {};
              }
              
              var bssPlApiServer = "https://product-labels-pro.bsscommerce.com";
              BSS_PL.customerTags = {% if customer %}'{%for tag in customer.tags%}{{ tag }},{% endfor %}'{% else %}'null'{% endif %};
              BSS_PL.configData = configDatas;
              BSS_PL.storeId = 23506;
              BSS_PL.currentPlan = "twenty_usd";
              BSS_PL.storeIdCustomOld = "10678";
              BSS_PL.storeIdOldWIthPriority = "12200";
              BSS_PL.apiServerProduction = "https://product-labels-pro.bsscommerce.com";
              
              </script>
          <style>
.homepage-slideshow .slick-slide .bss_pl_img {
    visibility: hidden !important;
}
</style>