{%- if collection.image -%}
  {%- assign custom_banner_desktop = collection.image -%}
  {%- assign custom_banner_mobile = collection.image -%}
{%- endif -%}
{%- for block in section.blocks -%}
  {%- assign linked_handle = block.settings.collection -%}
  {%- if linked_handle == collection.handle -%}
	{%- assign custom_banner_desktop = block.settings.image -%}
    {%- if custom_banner_mobile != blank -%}
      {%- assign custom_banner_mobile = block.settings.image-mobile -%}
    {%- else -%}
      {%- assign custom_banner_mobile = block.settings.image -%}
    {%- endif -%}
  {%- endif -%}
{%- endfor -%}

{%- if section.settings.show_collection_info and collection.all_products_count > 0 -%}
  {%- if section.settings.show_collection_image and custom_banner_desktop and collection.template_suffix != 'no-image' -%}
    <div class="FlexboxIeFix">
    <header class="PageHeader PageHeader--withBackground {% if section.settings.collection_image_size != 'normal' %}PageHeader--{{ section.settings.collection_image_size }}{% endif %}" 
           style="background: url({{ custom_banner_desktop | img_url: '1x1', format: 'jpg' }})">
      <div class="PageHeader__ImageWrapper Image--lazyLoad Image--fadeIn {% if section.settings.apply_overlay %}Image--contrast{% endif %}"
           data-optimumx="1.2"
           data-bgset="{{ custom_banner_mobile | img_url: 'x600' }} 600w, {{ custom_banner_mobile | img_url: '800x' }} 800w, {{ custom_banner_desktop | img_url: '1200x' }} 1200w, {{ custom_banner_desktop | img_url: '1400x' }} 1400w, {{ custom_banner_desktop | img_url: '1600x' }} 1600w">
      </div>

      <noscript>
        <div class="PageHeader__ImageWrapper {% if section.settings.apply_overlay %}Image--contrast{% endif %}" style="background-image: url({{ collection.image | img_url: '800x' }})"></div>
      </noscript>

      <div class="Container">
        <div class="SectionHeader SectionHeader--center">
          <h1 class="SectionHeader__Heading Heading u-h1">{{ collection.title }}</h1>

          {%- if collection.description != blank -%}
            <div class="SectionHeader__Description Rte">
              {{- collection.description -}}
            </div>
          {%- endif -%}
        </div>
      </div>
    </header>
    </div>
  {%- else -%}
    <header class="PageHeader">
      <div class="Container">
        <div class="SectionHeader SectionHeader--center">
          <h1 class="SectionHeader__Heading Heading u-h1">{{ collection.title }}</h1>

          {%- if collection.description != blank -%}
            <div class="SectionHeader__Description Rte">
              {{- collection.description -}}
            </div>
          {%- endif -%}
        </div>
      </div>
    </header>
  {%- endif -%}
{%- endif -%}