<div class="header__search">
  <div class="header__search-container">
    <form action="/search" method="get" role="search" class="header__search-form">
      <input type="hidden" name="type" value="product">
      <div class="input-group">
        <input 
          class="form-control"
          type="search"
          name="q"
          value="{{ search.terms | escape }}"
          placeholder="{{ 'header.navigation.search' | t }}"
        >
      </div>
    </form>
  </div>
</div>