{% if content_for_header contains "tmenu" %}
<script type="text/javascript" src="https://sdk.qikify.com/tmenu/app-v5.js?token=wTKqn7661YW2OoAfkORrkqEaPH602Lkg&shop=amanda-uprichard.myshopify.com" defer="defer"></script>
{% include 'qikify-smartmenu-data' %}
{% endif %}