<script type="text/javascript" src="https://sdk.qikify.com/quickview/app-v1.js" defer="defer"></script>
<script id="qikify-quickview-custom-script">/* Reload Qview after more products load - Sebastian T - 20/04/2022 */
window.addEventListener("load", function () {
	window.addEventListener("lazyloaded", function () {
		setTimeout(function () {
			document.dispatchEvent(new CustomEvent("qview-grid-updated"));
		}, 100);
	});
});</script>