{% if lt_img_res == blank %}
{% assign lt_img_res = '700x' %}
{% endif %}
{% if rtt_img_res == blank %}
{% assign rtt_img_res = '700x' %}
{% endif %}
{% if rtb_img_res == blank %}
{% assign rtb_img_res = '700x' %}
{% endif %}
<div class="container split-image-container" style="background-color: {{bg}};">
  <div class="row">
    <div class="col-12 text-center top-text-col">
      {{ top_txt }}
    </div>
  </div>
  <div class="row">
    <div class="first-col col-xs-12 col-md-5 img-container">
      <div class="img-inner-container">
        {%- if lt_img != blank -%}
          <img src="{{ lt_img | img_url: lt_img_res }}" alt="{{ lt_img_txt }}" class="align-middle {% if lt_img_m != blank %}hide_mobile{% endif %}">
        {%- endif -%}
        {% if lt_img_m != blank %}
          <img src="{{ lt_img_m | img_url: lt_img_m_res }}" alt="{{ lt_img_txt }}" class="align-middle hide_desktop">
        {% endif %}
        {%- if lt_img_txt != blank -%}
          <span class="txt-over-img">
            {{ lt_img_txt }}
          </span>
        {%- endif -%}
      </div>
    </div>
    <div class="second-col col">
      <div class="container-fluid">
      	<div class="row">
          <div class="col-12 img-container top">            
            {%- if rtt_img != blank -%}
              <img src="{{ rtt_img | img_url: rtt_img_res }}" alt="{{ rtt_img_txt | top_txt }}" class="align-middle {% if rtt_img_m != blank %}hide_mobile{% endif %}">
            {%- endif -%}
            {% if rtt_img_m != blank %}
              <img src="{{ rtt_img_m | img_url: rtt_img_m_res }}" alt="{{ rtt_img_txt | top_txt }}" class="align-middle hide_desktop">
            {% endif %}
            {%- if lt_img_txt != blank -%}
              <span class="txt-over-img">
                {{ rtt_img_txt }}
              </span>
            {%- endif -%}
          </div>
          <div class="col-12 img-container btm">                      
            {%- if rtb_img != blank -%}
              <img src="{{ rtb_img | img_url: rtb_img_res }}" alt="{{ rtb_img_txt | top_txt }}" class="align-middle {% if rtb_img_m != blank %}hide_mobile{% endif %}">
            {%- endif -%}
            {% if rtb_img_m != blank %}
              <img src="{{ rtb_img_m | img_url: rtb_img_m_res }}" alt="{{ rtb_img_txt | top_txt }}" class="align-middle hide_desktop">
            {% endif %}
            {%- if rtb_img_txt != blank -%}
              <span class="txt-over-img">
                {{ rtb_img_txt }}
              </span>
            {%- endif -%}
          </div>
        </div>	
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 text-center bot-text-col">
		{{ bot_txt }}
    </div>
  </div>
</div>
