{% assign alignment = '' %}
{%  if swap %}
  {% assign alignment = 'right' %}
{% endif %}
<div class="container two-col two-col-banner" style="background-color: {{container_bg}};">
  <div class="two-col-banner__container banner__container row">
    <div class="first-col {{alignment}} {{left_width | default: 'col-md-6'}}">
      {{ leftcol_content }}
    </div>
    <div class="second-col col col-md">
      {{ rightcol_content}}
    </div>
  </div>
</div>
