<div class="container" style="background-color:{{bg}}">
  <div class="row {{text_align}}" 
    style="max-width: {{max_width}}px">
    <div class="col-12 {{padding}}">
      {%-if title != blank-%}
      <h2>{{title}}</h2>
      {%-endif-%}
      {%-if subtitle != blank-%}
      <h3>{{subtitle}}</h3>
      {%-endif-%}
      {{content}}
    </div>
  </div>

</div>