{%- assign slideId = id | default: 'slideshow' -%}
<section class="slideshow__section vue-app {{class}}" id="{{slideId}}">
  <div class="slideshow__section-container">
    <h2>{{ title }}</h2>
    <carousel class="slideshow" {{attr}}>
      {% for block in blocks %}
        {%-if block.settings.url != blank -%}
        <a href="{{block.settings.url}}" class="slideshow__item swiper-slide{%if block.settings.inverted %} is-inverted{%endif%}" data-index="{{forloop.index0}}">
        {%- else -%}
        <div class="slideshow__item swiper-slide{%if block.settings.inverted %} is-inverted{%endif%}" data-index="{{forloop.index0}}">
        {%- endif -%}
          {%- if block.type == "image-slide" -%}
          {% include 'responsive-img' image: block.settings.image, lazyload: false %}
          {%- else -%}
          {% include 'content__video' settings: block.settings %}
          {%- endif -%}
          {%- if block.settings.title != blank or block.settings.subtitle != blank or block.settings.button-text != blank or block.type == "video-slide" -%}
          <div class="slideshow__item-caption">
            <div class="content">
              {%- if block.type == "image-slide" -%}
                {%- if block.settings.title != blank -%}
                <h2>{{ block.settings.title }}</h2>
                {%- endif -%}
                {%- if block.settings.subtitle != blank -%}
                <p>{{ block.settings.subtitle }}</p>
                {%- endif -%}
                {%- if block.settings.button-text != blank -%}
                <span class="link">{{ block.settings.button-text }}</span>
                {%- endif -%}
              {%-else-%}
                {%- include 'icon-play' -%}
              {%-endif-%}
            </div>
          </div> 
          {%- endif -%}
          {%- if block.type == "video-slide" -%}
            <h3 class="video-title">{{block.settings.title}}</h3>
          {%- endif -%}
        {%-if block.settings.url != blank -%}
        </a>
        {%- else -%}
        </div>
        {%- endif -%}
      {% endfor %}
    </carousel>
  </div>
</section>
<style>
  {%- for block in blocks -%}
  {%- if block.type == "image-slide" -%}
  #{{slideId}} [data-index="{{forloop.index0}}"] h2 { font-size: {{block.settings.title_font_size | divided_by: 2}}px }
  {%- endif -%}
  {%- endfor -%}
  @media (min-width: 768px) {
  {%- for block in blocks -%}
  {%- if block.type == "image-slide" -%}
    #{{slideId}} [data-index="{{forloop.index0}}"] h2 { font-size: {{block.settings.title_font_size | divided_by: 3}}px }
    #{{slideId}} [data-index="{{forloop.index0}}"] .slideshow__item-caption { justify-content: {{block.settings.horizontal_pos}}; align-items: {{block.settings.vertical_pos}}; text-align: {{block.settings.text-align}} }
  {%- endif -%}
  {%- endfor -%}
  }
  @media (min-width: 992px) {
  {%- for block in blocks -%}
  {%- if block.type == "image-slide" -%}
    #{{slideId}} [data-index="{{forloop.index0}}"] h2 { font-size: {{block.settings.title_font_size}}px }
  {%- endif -%}
  {%- endfor -%}
  }
</style>
