<section class="section__video-banner">
  <div class="section__video-container">
    {% if section.settings.internal_video_file != blank %}
        {% if section.settings.video_url != blank %}<a href="{{ section.settings.video_url }}" target="_blank">{% endif %}
            <video
                style="min-height: 100%; width: 100%" 
                playsinline
                {% if settings.loop -%} loop{%-endif-%}
                {% unless settings.sound %} muted{%-endunless-%}
                {% if settings.autoplay %} autoplay{%-endif-%}
                {% if settings.controls %} controls{%-endif-%}
            >
                <source src="{{ section.settings.internal_video_file }}" type="video/mp4" />
            </video>
            {% if section.settings.video_url != blank %}</a>{% endif %}
    {% endif %}
</section>