{%- assign tag = headingTag | default: "h2" -%}
{% if img_res == blank %}
{% assign img_res = '700x' %}
{% endif %}
{%comment%}
<style>
{% assign header_font = title_font %}
{% assign subheader_font = subtitle_font %}
{{ header_font | font_face }}
{{ subheader_font | font_face }}
</style>
{%endcomment%}


<div class="image-text">
  <div class="image-text__container" style="background-color: {{bg}};color: {{color}}">
    {%- if text_layout == 'above' -%}
            {%- if title != blank or subtitle != blank or body_text != blank or link_text != blank -%}
              <a class="image-text link" href="{{link}}">
                <div class="content {{ text_alignment }}" style="padding:{{ padding }}%;">
                  <div class="inner {{text_align}}">
                  {%-if title%}
                    <{{tag}} {%-if title_font.family-%}style='font-style:{{title_font.style}}; font-weight: {{title_font.weight}};font-family:{{title_font.family}};'{%-endif-%}>
                      {{title}}
                    </{{tag}}>
                  {%-endif-%}        
                  {%-if subtitle-%}
                    <h3 {%-if subtitle_font.family-%}style='font-style:{{subtitle_font.style}}; font-weight: {{subtitle_font.weight}};font-family:{{subtitle_font.family}};'{%-endif-%}>
                      {{subtitle}}
                    </h3>
                  {%-endif-%}
                  {{body_text}}
                  {%- if link_text != blank -%}
                    {%- if link != blank and link_button == true -%}
                    <a class="link" href="{{link}}">
                    {%-else-%}
                    <div class="link">
                    {%-endif-%}
                      {{link_text}}
                    {%- if link != blank and link_button == true -%}
                    </a>
                    {%-else-%}
                    </div>
                    {%-endif-%}
                  {%- endif -%}
                </div></a>
              </div>
            {%- endif -%}
    {%- endif -%}
                      
    {%- if img != blank -%}
    <a class="image-text link" href="{{link}}"><img src="{{ img | img_url: img_res }}" alt="{{ title }}" class="{% if img_mob != blank %}hide_mobile{% endif %}"></a>
    {%- endif -%}
                   
    {%- if text_layout != 'above' -%}
            {%- if title != blank or subtitle != blank or body_text != blank or link_text != blank -%}
              <a class="image-text link" href="{{link}}">
                   <div class="content {{ text_alignment }}" style="padding:{{ padding }}%;">
                
                      <div class="inner {{text_align}}">
                  {%-if title%}
                    <{{tag}} {%-if title_font.family-%}style='font-style:{{title_font.style}}; font-weight: {{title_font.weight}};font-family:{{title_font.family}};'{%-endif-%}>
                      {{title}}
                    </{{tag}}>
                  {%-endif-%}        
                  {%-if subtitle-%}
                    <h3 {%-if subtitle_font.family-%}style='font-style:{{subtitle_font.style}}; font-weight: {{subtitle_font.weight}};font-family:{{subtitle_font.family}};'{%-endif-%}>
                      {{subtitle}}
                    </h3>
                  {%-endif-%}
                  {{body_text}}
                  {%- if link_text != blank -%}
                    {%- if link != blank and link_button == true -%}
                    <a class="link" href="{{link}}">
                    {%-else-%}
                    <div class="link">
                    {%-endif-%}
                      {{link_text}}
                    {%- if link != blank and link_button == true -%}
                    </a>
                    {%-else-%}
                    </div>
                    {%-endif-%}
                  {%- endif -%}
                </div></a>
              </div>
            {%- endif -%}
  	{%- endif -%}
  </div>
</div>
</a>
                      
<style>
@media screen and (min-width: 767px) {
  
#shopify-section-{{ section.id }} {
  margin: 0 {{ section.settings.main_section_padding }}px;
} 
  
}
div.image-text__container > div.content > div.inner > a.image-text.link {
      text-decoration: none !important;                  
}
</style>