{% assign tr_alignment = '' %}
{% assign br_alignment = '' %}
{% assign tr_txt_alignment = 'left' %}
{% assign br_txt_alignment = 'right' %}

{%  if tr_swap %}
  {% assign tr_alignment = 'right' %}
  {% assign tr_txt_alignment = 'right' %}  
{% endif %}
{%  if br_swap %}
  {% assign br_alignment = 'left' %}
  {% assign br_txt_alignment = 'left' %}  
{% endif %}

{% if tr_lt_img_res == blank %}
{% assign tr_lt_img_res = '700x' %}
{% endif %}
{% if tr_lt_img_m_res == blank %}
{% assign tr_lt_img_m_res = '700x' %}
{% endif %}
{% if br_rt_img_res == blank %}
{% assign br_rt_img_res = '700x' %}
{% endif %}
{% if br_rt_img_m_res == blank %}
{% assign br_rt_img_m_res = '700x' %}
{% endif %}

<div class="container two-row" style="background-color: {{ bg }};">
  <div class="row">
    <div class="first-col col-xs-12 {{ tr_alignment }} col-md-{{ tr_lt_w | default: '6' }}">
      {%- if tr_lt_img != blank -%}
      	<img src="{{ tr_lt_img | img_url: tr_lt_img_res }}" alt="{{ tr_lt_alt }}" class="align-middle {% if tr_lt_img_m != blank %}hide_mobile{% endif %}">
      {%- endif -%}
      {% if tr_lt_img_m != blank %}
      	<img src="{{ tr_lt_img_m | img_url: tr_lt_img_m_res }}" alt="{{ tr_lt_alt }}" class="align-middle hide_desktop">
      {% endif %}
    </div>
    <div class="second-col col {{ tr_txt_alignment }}">
      <div class="txt-container">
      	{{ tr_rt_msg }}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="first-col col-xs-12 {{ br_txt_alignment }} col-md-{{ br_lt_w | default: '6' }}">
      <div class="txt-container">        
      	{{ br_lt_msg }}
      </div>
    </div>
    <div class="second-col col {{ br_alignment }}">
      {%- if br_rt_img != blank -%}
      	<img src="{{ br_rt_img | img_url: br_rt_img_res }}" alt="{{ br_rt_alt }}" class="align-middle {% if br_rt_img_m != blank %}hide_mobile{% endif %}">
      {%- endif -%}
      {% if br_rt_img_m != blank %}
      	<img src="{{ br_rt_img_m | img_url: br_rt_img_m_res }}" alt="{{ br_rt_alt }}" class="align-middle hide_desktop">
      {% endif %}
    </div>
  </div>
</div>
