{%- assign enable_variable = true -%}
{%- assign collection_id_string = collection.id | downcase -%}

{%- assign blacklisted_collections = '272942006320,263271645232,136927182871,136927150103,136927117335' | split: ',' -%}
{%- if blacklisted_collections contains collection_id_string -%}{%- assign enable_variable = false -%}{%- endif -%}
{%- assign whitelisted_collections = '' | split: ',' -%}
{%- if whitelisted_collections contains collection_id_string -%}{%- assign enable_variable = true -%}{%- endif -%}


{%- if enable_variable -%}
  {%- assign condition_sale = false -%}
  {%- assign collection_black_list = '' | split: ',' -%}
  
  
  

  {%- assign variable_filters = '' -%}
  {%- for filter in collection.filters -%}
    {%- assign filter_values = '' -%}
    {%- for af in filter.active_values -%}
      {%- assign filter_values = filter_values | append:',' | append:af.value -%}
    {%- endfor -%}
    {%- assign filter_param_name = filter.param_name | replace: ' ', '_' | downcase -%}
    {%- if filter_param_name contains 'filter.v.option' -%}
      {%- assign filter_param_name = filter_param_name | downcase -%}
    {%- endif -%}
    {%- if filter_param_name contains 'filter.v.price' -%}
      {%- assign filter_values = filter_values | append:filter.min_value.value | append:'-' | append:filter.max_value.value -%}
    {%- endif -%}
    {%- assign variable_filters = variable_filters | append:';;' | append:filter_param_name | append:'::' | append:filter_values -%}
  {%- endfor -%}

  <main data-behavior="variable-products" style="display: none !important" data-collection-id='{{ collection_id_string }}' data-collection-handle='{{ collection.handle }}' class='grid-item product-item'>
    {%- assign variable_products = "[" -%}
    {%- assign variable_products_arr = "" | split: "," -%}
    {%- unless variable_collection_products -%}
      {%- assign variable_collection_products = collection.products | default: collection.products -%}
    {%- endunless -%}

    {%- for full_product in variable_collection_products -%}
      {%- assign product = full_product -%}
      {%- assign product_forloop = forloop -%}
      {%- assign variable_product = '{"' | append:product.handle | append:'":{"id":"' | append:product.id -%}
      {%- assign variable_product = variable_product | append:'","options":{' -%}

      {%- assign options_exist = false -%}
      {%- for product_option in product.options_with_values -%}
        {%- assign values_exist = false -%}
        {%- if options_exist == true -%}
          {%- assign variable_product = variable_product | append:',' -%}
        {%- endif -%}
        {%- assign variable_product = variable_product | append:'"option' | append:product_option.position | append:'":{"values":[' -%}
        {%- for value in product_option.values -%}
          {%- if values_exist == true -%}
            {%- assign variable_product = variable_product | append:',' -%}
          {%- endif -%}
          {%- assign variable_option_value = value | replace: '"', '' | replace: "'", '' -%}
          {%- assign variable_product = variable_product | append:'"' | append:variable_option_value | append:'"' -%}
          {%- assign values_exist = true -%}
        {%- endfor -%}
        {%- assign variable_product = variable_product | append:'], "name":"' | append:product_option.name | append: '"}' -%}
        {%- assign options_exist = true -%}
      {%- endfor -%}

      {%- assign variable_product = variable_product | append:'},"variants":[' -%}
      {%- assign variants_arr = "" | split: "," -%}
      {%- assign show_products_without_variants = true -%}
      {%- if product.has_only_default_variant and show_products_without_variants -%}
        {%- assign variant_hsh = '{}' -%}
        {%- for product in full_product.variants -%}
          {%- assign variant = product -%}
          {%- if condition_sale -%}{%- if variant.compare_at_price == nil or variant.compare_at_price <= variant.price -%}{%- continue -%}{%- endif -%}{%- endif -%}
          
              {%- assign variable_option1_value = variant.option1 | replace: '"', '' | replace: "'", '' -%}
              {%- assign variable_option2_value = variant.option2 | replace: '"', '' | replace: "'", '' -%}
              {%- assign variable_option3_value = variant.option3 | replace: '"', '' | replace: "'", '' -%}

              {%- assign variable_product_variant = '{"id":"' | append:variant.id | append: '", "option1":"' | append:variable_option1_value | append: '", "option2":"' | append:variable_option2_value | append: '", "option3":"' | append:variable_option3_value | append: '", "available":' | append:variant.available | append: ', "ctitle":' | append:variant_hsh | append: '}' -%}
              {%- assign tmp_variant_arr = variable_product_variant | split: "," -%}
              {%- assign variants_arr = variants_arr|concat:tmp_variant_arr -%}

          <div class="Carousel__Cell">
                  {%- include 'product-item', show_product_info: section.settings.show_product_info, show_vendor: section.settings.show_vendor, show_color_swatch: section.settings.show_color_swatch, show_labels: true -%}
                </div>
        {%- endfor -%}
      {%- else -%}

        {%- assign only_options = 'Color' | split: ',' -%}
      {%- assign black_list = '40401194156080,40401194614832,40401194254384,40401194647600,40401209262128,40401209294896,40329008807984,40329008840752,40401209327664,40401209360432,40383127814192,40415754518576,40246137520176,40246137389104,40414458413104,40415721062448,40415651430448,40168358019120,40412517531696,40401206181936,40383057199152,40383055396912,40383055527984,40383055429680,40383055560752,40383055462448,40383055593520,40383055626288,40383054217264,40328762196016,40415756648496,40399802105904,40399802138672,40399802171440,40399800107056,40269284016176,40269284081712,40269284147248,40269284212784,40329004482608,40329004515376,40329004548144,40329004580912,40415750094896,40415750127664,40415750160432,40246137946160,40415745802288,40415747014704,40246137552944,40246137421872,40246137585712,40246137454640,40246137618480,40246137487408,40246127329328,40246125428784,40246125461552,40246125494320,40414356176944,40414458445872,40414458478640,40399793717296,40399793750064,40399793782832,40399793815600,40399787393072,40399788015664,40399787491376,40399788048432,40399788081200,40399787524144,40415721095216,40415721127984,40415925764144,40438457040944,40438457073712,40323075506224,40323074719792,40415651463216,40415651495984,40415651528752,40323079929904,40323080126512,40323080159280,40323080192048,40401206214704,40401206280240,40401206345776,40401206378544,40401206411312,40328762228784,40328762261552,40328762294320,40246137978928,40415745835056,40415747047472,40246138011696,40246138044464,40415747080240,40415745867824,40415747113008,40415745900592,40399787556912,40415694880816,40196807852080,40196807884848,40196807917616,40196807950384,40323080847408,40383057133616,40383057166384,40382993104944,40382993137712,40382993170480,40382993203248,40240282468400,40401206247472,40541085696048,40541085990960,40541085728816,40541085761584,40541085794352,40541086023728,40541086056496,40541086089264,40541086351408,40541086416944,40541103718448,40541103751216,40541103783984,40549491015728,40549491048496,40549491081264,40549491114032,40549510742064,40549510774832,40549510807600,40549510840368,40414350606384,40414350639152,40414350671920,40414350704688,40549508382768,40549508415536,40549508448304,40549501075504,40549501108272,40549501141040,40549501173808,40549347491888,40549347524656,40549347557424,40549347590192,40541104603184,40541104635952,40541104668720,40541104701488,40541084614704,40541084647472,40541084680240,40505946734640,40505946865712,40505946931248' | split: ',' -%}
      {%- assign white_list = '40401206313008,40541103685680,40541084581936,40549508350000' | split: ',' -%}
      {%- assign white_exceptions_count = white_list | size -%}
      {%- assign shown_variants = '' -%}
      {%- assign option_values = '' -%}
      {%- assign option1 = false -%}
      {%- assign option2 = false -%}
      {%- assign option3 = false -%}

      {%- for product_option in full_product.options_with_values -%}
        {%- if only_options contains product_option.name and product_option.position == 1 -%}
          {%- assign option1 = true -%}
        {%- endif -%}
        {%- if only_options contains product_option.name and product_option.position == 2 -%}
          {%- assign option2 = true -%}
        {%- endif -%}
        {%- if only_options contains product_option.name and product_option.position == 3 -%}
          {%- assign option3 = true -%}
        {%- endif -%}
      {%- endfor -%}

      {%- if white_exceptions_count < 10 -%}
        {%- for variant_id in white_list -%}
          {%- for product in full_product.variants -%}
            {%- assign variant = product -%}

            {%- assign product_id = product.id | append: '' -%}
            {%- if product_id == variant_id -%}
              {%- assign variable_option1_value = variant.option1 | replace: '"', '' | replace: "'", '' -%}
              {%- assign variable_option2_value = variant.option2 | replace: '"', '' | replace: "'", '' -%}
              {%- assign variable_option3_value = variant.option3 | replace: '"', '' | replace: "'", '' -%}

              {%- assign variant_hsh = '{' -%}
              {%- if option1 == true -%}
                {%- assign variant_hsh = variant_hsh | append:'"option1":"' | append: variable_option1_value | append: '"' -%}
              {%- endif -%}
              {%- if option2 == true -%}
                {%- if option1 == true -%}
                  {%- assign variant_hsh = variant_hsh | append:',' -%}
                {%- endif -%}
                {%- assign variant_hsh = variant_hsh | append:'"option2":"' | append: variable_option2_value | append: '"' -%}
              {%- endif -%}
              {%- if option3 == true -%}
                {%- if option1 == true or option2 == true -%}
                  {%- assign variant_hsh = variant_hsh | append:',' -%}
                {%- endif -%}
                {%- assign variant_hsh = variant_hsh | append:'"option3":"' | append: variable_option3_value | append: '"' -%}
              {%- endif -%}
              {%- assign variant_hsh = variant_hsh | append:'}' -%}

              {%- unless option_values contains variant_hsh -%}
                {%- assign option_values = option_values | append: ', ' | append: variant_hsh -%}
              {%- endunless -%}
              {%- assign shown_variants = shown_variants | append: ', ' | append: product.id -%}
              
              {%- assign variable_option1_value = variant.option1 | replace: '"', '' | replace: "'", '' -%}
              {%- assign variable_option2_value = variant.option2 | replace: '"', '' | replace: "'", '' -%}
              {%- assign variable_option3_value = variant.option3 | replace: '"', '' | replace: "'", '' -%}

              {%- assign variable_product_variant = '{"id":"' | append:variant.id | append: '", "option1":"' | append:variable_option1_value | append: '", "option2":"' | append:variable_option2_value | append: '", "option3":"' | append:variable_option3_value | append: '", "available":' | append:variant.available | append: ', "ctitle":' | append:variant_hsh | append: '}' -%}
              {%- assign tmp_variant_arr = variable_product_variant | split: "," -%}
              {%- assign variants_arr = variants_arr|concat:tmp_variant_arr -%}

              <div class="Carousel__Cell">
                  {%- include 'product-item', show_product_info: section.settings.show_product_info, show_vendor: section.settings.show_vendor, show_color_swatch: section.settings.show_color_swatch, show_labels: true -%}
                </div>
            {%- endif -%}

          {%- endfor -%}
        {%- endfor -%}
      {%- else -%}
        {%- for product in full_product.variants -%}
          {%- assign product_id = product.id | append: '' -%}
          {%- if white_list contains product_id -%}
            {%- assign variant = product -%}

            {%- assign variable_option1_value = variant.option1 | replace: '"', '' | replace: "'", '' -%}
            {%- assign variable_option2_value = variant.option2 | replace: '"', '' | replace: "'", '' -%}
            {%- assign variable_option3_value = variant.option3 | replace: '"', '' | replace: "'", '' -%}

            {%- assign variant_hsh = '{' -%}
            {%- if option1 == true -%}
              {%- assign variant_hsh = variant_hsh | append:'"option1":"' | append: variable_option1_value | append: '"' -%}
            {%- endif -%}
            {%- if option2 == true -%}
              {%- if option1 == true -%}
                {%- assign variant_hsh = variant_hsh | append:',' -%}
              {%- endif -%}
              {%- assign variant_hsh = variant_hsh | append:'"option2":"' | append: variable_option2_value | append: '"' -%}
            {%- endif -%}
            {%- if option3 == true -%}
              {%- if option1 == true or option2 == true -%}
                {%- assign variant_hsh = variant_hsh | append:',' -%}
              {%- endif -%}
              {%- assign variant_hsh = variant_hsh | append:'"option3":"' | append: variable_option3_value | append: '"' -%}
            {%- endif -%}
            {%- assign variant_hsh = variant_hsh | append:'}' -%}

            {%- unless option_values contains variant_hsh -%}
              {%- assign option_values = option_values | append: ', ' | append: variant_hsh -%}
            {%- endunless -%}
            {%- assign shown_variants = shown_variants | append: ', ' | append: product.id -%}
            
              {%- assign variable_option1_value = variant.option1 | replace: '"', '' | replace: "'", '' -%}
              {%- assign variable_option2_value = variant.option2 | replace: '"', '' | replace: "'", '' -%}
              {%- assign variable_option3_value = variant.option3 | replace: '"', '' | replace: "'", '' -%}

              {%- assign variable_product_variant = '{"id":"' | append:variant.id | append: '", "option1":"' | append:variable_option1_value | append: '", "option2":"' | append:variable_option2_value | append: '", "option3":"' | append:variable_option3_value | append: '", "available":' | append:variant.available | append: ', "ctitle":' | append:variant_hsh | append: '}' -%}
              {%- assign tmp_variant_arr = variable_product_variant | split: "," -%}
              {%- assign variants_arr = variants_arr|concat:tmp_variant_arr -%}

            <div class="Carousel__Cell">
                  {%- include 'product-item', show_product_info: section.settings.show_product_info, show_vendor: section.settings.show_vendor, show_color_swatch: section.settings.show_color_swatch, show_labels: true -%}
                </div>
          {%- endif -%}
        {%- endfor -%}
      {%- endif -%}

      {%- assign show_out_of_stock = false -%}
      {%- assign out_of_stock_limit = 0 -%}
      {%- for option in only_options -%}
        {%- assign option_position = null -%}
        {%- for product_option in full_product.options_with_values -%}
          {%- if option == product_option.name -%}
            {%- assign option_position = product_option.position -%}
            {%- break -%}
          {%- endif -%}
        {%- endfor -%}
        {%- if option_position != null -%}
          {%- assign option_name = 'option' | append: option_position -%}

          {%- for product_var in full_product.variants -%}

            {%- assign product = product_var -%}
            {%- assign variant = product -%}
            {%- if condition_sale -%}{%- if variant.compare_at_price == nil or variant.compare_at_price <= variant.price -%}{%- continue -%}{%- endif -%}{%- endif -%}
            {%- assign product_id = product_var.id | append: '' -%}
            {%- unless black_list contains product_id or collection_black_list contains product_id -%}
              {%- assign variable_option1_value = product_var.option1 | replace: '"', '' | replace: "'", '' -%}
              {%- assign variable_option2_value = product_var.option2 | replace: '"', '' | replace: "'", '' -%}
              {%- assign variable_option3_value = product_var.option3 | replace: '"', '' | replace: "'", '' -%}
              {%- assign target_condition_variant = variant -%}
              {%- assign pass_conditions = true -%}
{%- for condition_name in condition_option_names -%}
  {%- assign condition_value = condition_option_values[forloop.index0] -%}
  {%- assign condition_operator = condition_operators[forloop.index0] -%}

  {%- assign option_by_condition = full_product.options_by_name[condition_name] -%}
  {% case option_by_condition.position %}
    {% when 1 %}{%- assign option_value_by_condition = target_condition_variant.option1 -%}
    {% when 2 %}{%- assign option_value_by_condition = target_condition_variant.option2 -%}
    {% else %}{%- assign option_value_by_condition = target_condition_variant.option3 -%}
  {% endcase %}
  {%- assign downcase_option_value = option_value_by_condition | replace: '"', '' | replace: "'", '' | downcase -%}
  {%- if condition_operator == 'equal_to' and downcase_option_value != condition_value -%}{%- assign pass_conditions = false -%}{%- break -%}{%- endif -%}
  {%- if condition_operator == 'not_equal_to' and downcase_option_value == condition_value -%}{%- assign pass_conditions = false -%}{%- break -%}{%- endif -%}
  {%- if condition_operator == 'contains' -%}{%- unless downcase_option_value contains condition_value -%}{%- assign pass_conditions = false -%}{%- break -%}{%- endunless -%}{%- endif -%}
  {%- if condition_operator == 'not_contains' and downcase_option_value contains condition_value -%}{%- assign pass_conditions = false -%}{%- break -%}{%- endif -%}
{%- endfor -%}
{%- unless pass_conditions -%}{%- continue -%}{%- endunless -%}
              {%- assign filters_arr = variable_filters | split: ';;' -%}
{%- assign skip_by_filter = false -%}
{%- for filtr in filters_arr -%}
  {%- assign filtr_key_value = filtr | split: '::' -%}
  {%- assign filtr_key = filtr_key_value[0] -%}
  {%- assign filtr_value = filtr_key_value[1] | replace: '"', '' | replace: "'", '' | replace: "&#39;", '' | split: ',' -%}
  {%- assign filter_values_count = filtr_value| size -%}

  {%- for product_option in full_product.options_with_values -%}
    {%- assign filtr_option_name = 'filter.v.option.' | append: product_option.name | downcase | replace: ' ', '_' -%}
    {%- assign voption = 'option' | append: product_option.position -%}
    {%- if filtr_option_name == filtr_key and filter_values_count > 0 -%}
      {%- assign variant_value = target_condition_variant[voption] | replace: '"', '' | replace: "'", '' | replace: "&#39;", '' -%}
      {%- unless filtr_value contains variant_value -%}
        {%- assign skip_by_filter = true -%}{%- break -%}
      {%- endunless -%}
    {%- endif -%}
  {%- endfor -%}
  {%- if 'filter.v.availability' == filtr_key -%}
    {%- if filtr_value contains '1' and filtr_value contains '0' -%}{%- continue -%}{%- endif -%}
    {%- if filtr_value contains '1' -%}
      {%- if target_condition_variant.inventory_quantity <= 0 and target_condition_variant.inventory_policy != 'continue' -%}
        {%- assign skip_by_filter = true -%}{%- break -%}
      {%- endif -%}
    {%- elsif filtr_value contains '0' -%}
      {%- if target_condition_variant.inventory_quantity > 0 or target_condition_variant.inventory_policy == 'continue' -%}
        {%- assign skip_by_filter = true -%}{%- break -%}
      {%- endif -%}
    {%- endif -%}
  {%- endif -%}

  {%- if 'filter.v.price' == filtr_key -%}
    {%- assign filtr_price_range = filtr_value | join | split: '-' -%}
    {%- assign min_price = filtr_price_range[0] | plus: 0 -%}
    {%- assign max_price = filtr_price_range[1] | plus: 0 -%}
    {%- if target_condition_variant.price < min_price -%}
      {%- assign skip_by_filter = true -%}{%- break -%}
    {%- endif -%}
    {%- if max_price != 0 and target_condition_variant.price > max_price -%}
      {%- assign skip_by_filter = true -%}{%- break -%}
    {%- endif -%}
  {%- endif -%}

  {%- assign metafield_namespaces = 'global,my_fields,custom' | split: ',' -%}
  {% for namespace in metafield_namespaces %}
    {%- assign filtr_metafiled_name = 'filter.v.m.' | append: namespace | append: '.' | replace: ' ', '_' -%}
    {%- if filtr_key contains filtr_metafiled_name and filter_values_count > 0 -%}
      {%- assign metafield_key = filtr_key | remove: filtr_metafiled_name -%}
      {%- assign mfiltr_value = target_condition_variant.metafields[namespace][metafield_key] | metafield_text -%}
      {%- unless mfiltr_value != '' and filtr_value contains mfiltr_value -%}
        {%- assign skip_by_filter = true -%}{%- break -%}
      {%- endunless -%}
    {%- endif -%}
  {% endfor %}
{% endfor %}
{%- if skip_by_filter -%}{%- continue -%}{%- endif -%}
              {%- assign variant_hsh = '{' -%}
              {%- if option1 == true -%}
                {%- assign variant_hsh = variant_hsh | append:'"option1":"' | append: variable_option1_value | append: '"' -%}
              {%- endif -%}
              {%- if option2 == true -%}
                {%- if option1 == true -%}
                  {%- assign variant_hsh = variant_hsh | append:',' -%}
                {%- endif -%}
                {%- assign variant_hsh = variant_hsh | append:'"option2":"' | append: variable_option2_value | append: '"' -%}
              {%- endif -%}
              {%- if option3 == true -%}
                {%- if option1 == true or option2 == true -%}
                  {%- assign variant_hsh = variant_hsh | append:',' -%}
                {%- endif -%}
                {%- assign variant_hsh = variant_hsh | append:'"option3":"' | append: variable_option3_value | append: '"' -%}
              {%- endif -%}
              {%- assign variant_hsh = variant_hsh | append:'}' -%}

              {%- unless option_values contains variant_hsh or shown_variants contains product_id -%}
                {%- if product_var.inventory_quantity > out_of_stock_limit or product_var.inventory_policy == 'continue' -%}
                  {%- assign option_values = option_values | append: ', ' | append: variant_hsh -%}
                  {%- assign shown_variants = shown_variants | append: ', ' | append: product_id -%}
                  
              {%- assign variable_option1_value = variant.option1 | replace: '"', '' | replace: "'", '' -%}
              {%- assign variable_option2_value = variant.option2 | replace: '"', '' | replace: "'", '' -%}
              {%- assign variable_option3_value = variant.option3 | replace: '"', '' | replace: "'", '' -%}

              {%- assign variable_product_variant = '{"id":"' | append:variant.id | append: '", "option1":"' | append:variable_option1_value | append: '", "option2":"' | append:variable_option2_value | append: '", "option3":"' | append:variable_option3_value | append: '", "available":' | append:variant.available | append: ', "ctitle":' | append:variant_hsh | append: '}' -%}
              {%- assign tmp_variant_arr = variable_product_variant | split: "," -%}
              {%- assign variants_arr = variants_arr|concat:tmp_variant_arr -%}

                  <div class="Carousel__Cell">
                  {%- include 'product-item', show_product_info: section.settings.show_product_info, show_vendor: section.settings.show_vendor, show_color_swatch: section.settings.show_color_swatch, show_labels: true -%}
                </div>
                {%- else -%}
                  {%- assign available_exist = false -%}
                  {%- for suitable_variant in full_product.variants -%}
                    {%- assign suitable_variant_id = suitable_variant.id | append: '' -%}
                    {%- unless black_list contains suitable_variant_id -%}
                      {%- if suitable_variant.inventory_quantity > out_of_stock_limit or suitable_variant.inventory_policy == 'continue' -%}

                        {%- assign variable_option1_value = suitable_variant.option1 | replace: '"', '' | replace: "'", '' -%}
                        {%- assign variable_option2_value = suitable_variant.option2 | replace: '"', '' | replace: "'", '' -%}
                        {%- assign variable_option3_value = suitable_variant.option3 | replace: '"', '' | replace: "'", '' -%}
                        {%- assign target_condition_variant = suitable_variant -%}
                        {%- assign pass_conditions = true -%}
{%- for condition_name in condition_option_names -%}
  {%- assign condition_value = condition_option_values[forloop.index0] -%}
  {%- assign condition_operator = condition_operators[forloop.index0] -%}

  {%- assign option_by_condition = full_product.options_by_name[condition_name] -%}
  {% case option_by_condition.position %}
    {% when 1 %}{%- assign option_value_by_condition = target_condition_variant.option1 -%}
    {% when 2 %}{%- assign option_value_by_condition = target_condition_variant.option2 -%}
    {% else %}{%- assign option_value_by_condition = target_condition_variant.option3 -%}
  {% endcase %}
  {%- assign downcase_option_value = option_value_by_condition | replace: '"', '' | replace: "'", '' | downcase -%}
  {%- if condition_operator == 'equal_to' and downcase_option_value != condition_value -%}{%- assign pass_conditions = false -%}{%- break -%}{%- endif -%}
  {%- if condition_operator == 'not_equal_to' and downcase_option_value == condition_value -%}{%- assign pass_conditions = false -%}{%- break -%}{%- endif -%}
  {%- if condition_operator == 'contains' -%}{%- unless downcase_option_value contains condition_value -%}{%- assign pass_conditions = false -%}{%- break -%}{%- endunless -%}{%- endif -%}
  {%- if condition_operator == 'not_contains' and downcase_option_value contains condition_value -%}{%- assign pass_conditions = false -%}{%- break -%}{%- endif -%}
{%- endfor -%}
{%- unless pass_conditions -%}{%- continue -%}{%- endunless -%}
                        {%- assign filters_arr = variable_filters | split: ';;' -%}
{%- assign skip_by_filter = false -%}
{%- for filtr in filters_arr -%}
  {%- assign filtr_key_value = filtr | split: '::' -%}
  {%- assign filtr_key = filtr_key_value[0] -%}
  {%- assign filtr_value = filtr_key_value[1] | replace: '"', '' | replace: "'", '' | replace: "&#39;", '' | split: ',' -%}
  {%- assign filter_values_count = filtr_value| size -%}

  {%- for product_option in full_product.options_with_values -%}
    {%- assign filtr_option_name = 'filter.v.option.' | append: product_option.name | downcase | replace: ' ', '_' -%}
    {%- assign voption = 'option' | append: product_option.position -%}
    {%- if filtr_option_name == filtr_key and filter_values_count > 0 -%}
      {%- assign variant_value = target_condition_variant[voption] | replace: '"', '' | replace: "'", '' | replace: "&#39;", '' -%}
      {%- unless filtr_value contains variant_value -%}
        {%- assign skip_by_filter = true -%}{%- break -%}
      {%- endunless -%}
    {%- endif -%}
  {%- endfor -%}
  {%- if 'filter.v.availability' == filtr_key -%}
    {%- if filtr_value contains '1' and filtr_value contains '0' -%}{%- continue -%}{%- endif -%}
    {%- if filtr_value contains '1' -%}
      {%- if target_condition_variant.inventory_quantity <= 0 and target_condition_variant.inventory_policy != 'continue' -%}
        {%- assign skip_by_filter = true -%}{%- break -%}
      {%- endif -%}
    {%- elsif filtr_value contains '0' -%}
      {%- if target_condition_variant.inventory_quantity > 0 or target_condition_variant.inventory_policy == 'continue' -%}
        {%- assign skip_by_filter = true -%}{%- break -%}
      {%- endif -%}
    {%- endif -%}
  {%- endif -%}

  {%- if 'filter.v.price' == filtr_key -%}
    {%- assign filtr_price_range = filtr_value | join | split: '-' -%}
    {%- assign min_price = filtr_price_range[0] | plus: 0 -%}
    {%- assign max_price = filtr_price_range[1] | plus: 0 -%}
    {%- if target_condition_variant.price < min_price -%}
      {%- assign skip_by_filter = true -%}{%- break -%}
    {%- endif -%}
    {%- if max_price != 0 and target_condition_variant.price > max_price -%}
      {%- assign skip_by_filter = true -%}{%- break -%}
    {%- endif -%}
  {%- endif -%}

  {%- assign metafield_namespaces = 'global,my_fields,custom' | split: ',' -%}
  {% for namespace in metafield_namespaces %}
    {%- assign filtr_metafiled_name = 'filter.v.m.' | append: namespace | append: '.' | replace: ' ', '_' -%}
    {%- if filtr_key contains filtr_metafiled_name and filter_values_count > 0 -%}
      {%- assign metafield_key = filtr_key | remove: filtr_metafiled_name -%}
      {%- assign mfiltr_value = target_condition_variant.metafields[namespace][metafield_key] | metafield_text -%}
      {%- unless mfiltr_value != '' and filtr_value contains mfiltr_value -%}
        {%- assign skip_by_filter = true -%}{%- break -%}
      {%- endunless -%}
    {%- endif -%}
  {% endfor %}
{% endfor %}
{%- if skip_by_filter -%}{%- continue -%}{%- endif -%}
                        {%- assign suitable_variant_hsh = '{' -%}
                        {%- if option1 == true -%}
                          {%- assign suitable_variant_hsh = suitable_variant_hsh | append:'"option1":"' | append: variable_option1_value | append: '"' -%}
                        {%- endif -%}
                        {%- if option2 == true -%}
                          {%- if option1 == true -%}
                            {%- assign suitable_variant_hsh = suitable_variant_hsh | append:',' -%}
                          {%- endif -%}
                          {%- assign suitable_variant_hsh = suitable_variant_hsh | append:'"option2":"' | append: variable_option2_value | append: '"' -%}
                        {%- endif -%}
                        {%- if option3 == true -%}
                          {%- if option1 == true or option2 == true -%}
                            {%- assign suitable_variant_hsh = suitable_variant_hsh | append:',' -%}
                          {%- endif -%}
                          {%- assign suitable_variant_hsh = suitable_variant_hsh | append:'"option3":"' | append: variable_option3_value | append: '"' -%}
                        {%- endif -%}
                        {%- assign suitable_variant_hsh = suitable_variant_hsh | append:'}' -%}

                        {%- if suitable_variant_hsh == variant_hsh -%}
                          {%- assign available_exist = suitable_variant -%}
                          {%- break -%}
                        {%- endif -%}
                      {%- endif -%}
                    {%- endunless -%}
                  {%- endfor -%}

                  {%- if available_exist != false -%}
                    {%- assign product = available_exist -%}
                    {%- assign variant = available_exist -%}
                  {%- endif -%}
                  {%- if available_exist or show_out_of_stock -%}
                    {%- assign option_values = option_values | append: ', ' | append: variant_hsh -%}
                    {%- assign shown_variants = shown_variants | append: ', ' | append: product_id -%}
                    
              {%- assign variable_option1_value = variant.option1 | replace: '"', '' | replace: "'", '' -%}
              {%- assign variable_option2_value = variant.option2 | replace: '"', '' | replace: "'", '' -%}
              {%- assign variable_option3_value = variant.option3 | replace: '"', '' | replace: "'", '' -%}

              {%- assign variable_product_variant = '{"id":"' | append:variant.id | append: '", "option1":"' | append:variable_option1_value | append: '", "option2":"' | append:variable_option2_value | append: '", "option3":"' | append:variable_option3_value | append: '", "available":' | append:variant.available | append: ', "ctitle":' | append:variant_hsh | append: '}' -%}
              {%- assign tmp_variant_arr = variable_product_variant | split: "," -%}
              {%- assign variants_arr = variants_arr|concat:tmp_variant_arr -%}

                    <div class="Carousel__Cell">
                  {%- include 'product-item', show_product_info: section.settings.show_product_info, show_vendor: section.settings.show_vendor, show_color_swatch: section.settings.show_color_swatch, show_labels: true -%}
                </div>
                  {%- endif -%}
                {%- endif -%}
              {%- endunless -%}
            {%- endunless -%}
          {%- endfor -%}
        {%- endif -%}
      {%- endfor -%}

      {%- assign variants_count = shown_variants | size -%}
      {%- assign show_first_if_all_hidden = false -%}
      {%- assign conditions_hide_completely = true -%}
      {%- if variants_count == 0 and show_first_if_all_hidden -%}

        {%- assign variable_first_variant = null -%}
        {%- for product in full_product.variants -%}
          {%- if product.inventory_quantity > out_of_stock_limit or product.inventory_policy == 'continue' -%}
            {%- assign product_id = product.id | append: '' -%}
            {%- unless black_list contains product_id or collection_black_list contains product_id -%}
              {%- assign target_condition_variant = product -%}
              {% if conditions_hide_completely %}
                {%- assign pass_conditions = true -%}
{%- for condition_name in condition_option_names -%}
  {%- assign condition_value = condition_option_values[forloop.index0] -%}
  {%- assign condition_operator = condition_operators[forloop.index0] -%}

  {%- assign option_by_condition = full_product.options_by_name[condition_name] -%}
  {% case option_by_condition.position %}
    {% when 1 %}{%- assign option_value_by_condition = target_condition_variant.option1 -%}
    {% when 2 %}{%- assign option_value_by_condition = target_condition_variant.option2 -%}
    {% else %}{%- assign option_value_by_condition = target_condition_variant.option3 -%}
  {% endcase %}
  {%- assign downcase_option_value = option_value_by_condition | replace: '"', '' | replace: "'", '' | downcase -%}
  {%- if condition_operator == 'equal_to' and downcase_option_value != condition_value -%}{%- assign pass_conditions = false -%}{%- break -%}{%- endif -%}
  {%- if condition_operator == 'not_equal_to' and downcase_option_value == condition_value -%}{%- assign pass_conditions = false -%}{%- break -%}{%- endif -%}
  {%- if condition_operator == 'contains' -%}{%- unless downcase_option_value contains condition_value -%}{%- assign pass_conditions = false -%}{%- break -%}{%- endunless -%}{%- endif -%}
  {%- if condition_operator == 'not_contains' and downcase_option_value contains condition_value -%}{%- assign pass_conditions = false -%}{%- break -%}{%- endif -%}
{%- endfor -%}
{%- unless pass_conditions -%}{%- continue -%}{%- endunless -%}
              {% endif %}
              {%- assign filters_arr = variable_filters | split: ';;' -%}
{%- assign skip_by_filter = false -%}
{%- for filtr in filters_arr -%}
  {%- assign filtr_key_value = filtr | split: '::' -%}
  {%- assign filtr_key = filtr_key_value[0] -%}
  {%- assign filtr_value = filtr_key_value[1] | replace: '"', '' | replace: "'", '' | replace: "&#39;", '' | split: ',' -%}
  {%- assign filter_values_count = filtr_value| size -%}

  {%- for product_option in full_product.options_with_values -%}
    {%- assign filtr_option_name = 'filter.v.option.' | append: product_option.name | downcase | replace: ' ', '_' -%}
    {%- assign voption = 'option' | append: product_option.position -%}
    {%- if filtr_option_name == filtr_key and filter_values_count > 0 -%}
      {%- assign variant_value = target_condition_variant[voption] | replace: '"', '' | replace: "'", '' | replace: "&#39;", '' -%}
      {%- unless filtr_value contains variant_value -%}
        {%- assign skip_by_filter = true -%}{%- break -%}
      {%- endunless -%}
    {%- endif -%}
  {%- endfor -%}
  {%- if 'filter.v.availability' == filtr_key -%}
    {%- if filtr_value contains '1' and filtr_value contains '0' -%}{%- continue -%}{%- endif -%}
    {%- if filtr_value contains '1' -%}
      {%- if target_condition_variant.inventory_quantity <= 0 and target_condition_variant.inventory_policy != 'continue' -%}
        {%- assign skip_by_filter = true -%}{%- break -%}
      {%- endif -%}
    {%- elsif filtr_value contains '0' -%}
      {%- if target_condition_variant.inventory_quantity > 0 or target_condition_variant.inventory_policy == 'continue' -%}
        {%- assign skip_by_filter = true -%}{%- break -%}
      {%- endif -%}
    {%- endif -%}
  {%- endif -%}

  {%- if 'filter.v.price' == filtr_key -%}
    {%- assign filtr_price_range = filtr_value | join | split: '-' -%}
    {%- assign min_price = filtr_price_range[0] | plus: 0 -%}
    {%- assign max_price = filtr_price_range[1] | plus: 0 -%}
    {%- if target_condition_variant.price < min_price -%}
      {%- assign skip_by_filter = true -%}{%- break -%}
    {%- endif -%}
    {%- if max_price != 0 and target_condition_variant.price > max_price -%}
      {%- assign skip_by_filter = true -%}{%- break -%}
    {%- endif -%}
  {%- endif -%}

  {%- assign metafield_namespaces = 'global,my_fields,custom' | split: ',' -%}
  {% for namespace in metafield_namespaces %}
    {%- assign filtr_metafiled_name = 'filter.v.m.' | append: namespace | append: '.' | replace: ' ', '_' -%}
    {%- if filtr_key contains filtr_metafiled_name and filter_values_count > 0 -%}
      {%- assign metafield_key = filtr_key | remove: filtr_metafiled_name -%}
      {%- assign mfiltr_value = target_condition_variant.metafields[namespace][metafield_key] | metafield_text -%}
      {%- unless mfiltr_value != '' and filtr_value contains mfiltr_value -%}
        {%- assign skip_by_filter = true -%}{%- break -%}
      {%- endunless -%}
    {%- endif -%}
  {% endfor %}
{% endfor %}
{%- if skip_by_filter -%}{%- continue -%}{%- endif -%}
              {%- assign variable_first_variant = product -%}
              {%- break -%}
            {%- endunless -%}
          {%- endif -%}
        {%- endfor -%}

        {%- if variable_first_variant == null and show_out_of_stock -%}
          {%- for product in full_product.variants -%}
            {%- assign product_id = product.id | append: '' -%}
            {%- unless black_list contains product_id or collection_black_list contains product_id -%}
              {%- assign target_condition_variant = product -%}
              {% if conditions_hide_completely %}
                {%- assign pass_conditions = true -%}
{%- for condition_name in condition_option_names -%}
  {%- assign condition_value = condition_option_values[forloop.index0] -%}
  {%- assign condition_operator = condition_operators[forloop.index0] -%}

  {%- assign option_by_condition = full_product.options_by_name[condition_name] -%}
  {% case option_by_condition.position %}
    {% when 1 %}{%- assign option_value_by_condition = target_condition_variant.option1 -%}
    {% when 2 %}{%- assign option_value_by_condition = target_condition_variant.option2 -%}
    {% else %}{%- assign option_value_by_condition = target_condition_variant.option3 -%}
  {% endcase %}
  {%- assign downcase_option_value = option_value_by_condition | replace: '"', '' | replace: "'", '' | downcase -%}
  {%- if condition_operator == 'equal_to' and downcase_option_value != condition_value -%}{%- assign pass_conditions = false -%}{%- break -%}{%- endif -%}
  {%- if condition_operator == 'not_equal_to' and downcase_option_value == condition_value -%}{%- assign pass_conditions = false -%}{%- break -%}{%- endif -%}
  {%- if condition_operator == 'contains' -%}{%- unless downcase_option_value contains condition_value -%}{%- assign pass_conditions = false -%}{%- break -%}{%- endunless -%}{%- endif -%}
  {%- if condition_operator == 'not_contains' and downcase_option_value contains condition_value -%}{%- assign pass_conditions = false -%}{%- break -%}{%- endif -%}
{%- endfor -%}
{%- unless pass_conditions -%}{%- continue -%}{%- endunless -%}
              {% endif %}
              {%- assign filters_arr = variable_filters | split: ';;' -%}
{%- assign skip_by_filter = false -%}
{%- for filtr in filters_arr -%}
  {%- assign filtr_key_value = filtr | split: '::' -%}
  {%- assign filtr_key = filtr_key_value[0] -%}
  {%- assign filtr_value = filtr_key_value[1] | replace: '"', '' | replace: "'", '' | replace: "&#39;", '' | split: ',' -%}
  {%- assign filter_values_count = filtr_value| size -%}

  {%- for product_option in full_product.options_with_values -%}
    {%- assign filtr_option_name = 'filter.v.option.' | append: product_option.name | downcase | replace: ' ', '_' -%}
    {%- assign voption = 'option' | append: product_option.position -%}
    {%- if filtr_option_name == filtr_key and filter_values_count > 0 -%}
      {%- assign variant_value = target_condition_variant[voption] | replace: '"', '' | replace: "'", '' | replace: "&#39;", '' -%}
      {%- unless filtr_value contains variant_value -%}
        {%- assign skip_by_filter = true -%}{%- break -%}
      {%- endunless -%}
    {%- endif -%}
  {%- endfor -%}
  {%- if 'filter.v.availability' == filtr_key -%}
    {%- if filtr_value contains '1' and filtr_value contains '0' -%}{%- continue -%}{%- endif -%}
    {%- if filtr_value contains '1' -%}
      {%- if target_condition_variant.inventory_quantity <= 0 and target_condition_variant.inventory_policy != 'continue' -%}
        {%- assign skip_by_filter = true -%}{%- break -%}
      {%- endif -%}
    {%- elsif filtr_value contains '0' -%}
      {%- if target_condition_variant.inventory_quantity > 0 or target_condition_variant.inventory_policy == 'continue' -%}
        {%- assign skip_by_filter = true -%}{%- break -%}
      {%- endif -%}
    {%- endif -%}
  {%- endif -%}

  {%- if 'filter.v.price' == filtr_key -%}
    {%- assign filtr_price_range = filtr_value | join | split: '-' -%}
    {%- assign min_price = filtr_price_range[0] | plus: 0 -%}
    {%- assign max_price = filtr_price_range[1] | plus: 0 -%}
    {%- if target_condition_variant.price < min_price -%}
      {%- assign skip_by_filter = true -%}{%- break -%}
    {%- endif -%}
    {%- if max_price != 0 and target_condition_variant.price > max_price -%}
      {%- assign skip_by_filter = true -%}{%- break -%}
    {%- endif -%}
  {%- endif -%}

  {%- assign metafield_namespaces = 'global,my_fields,custom' | split: ',' -%}
  {% for namespace in metafield_namespaces %}
    {%- assign filtr_metafiled_name = 'filter.v.m.' | append: namespace | append: '.' | replace: ' ', '_' -%}
    {%- if filtr_key contains filtr_metafiled_name and filter_values_count > 0 -%}
      {%- assign metafield_key = filtr_key | remove: filtr_metafiled_name -%}
      {%- assign mfiltr_value = target_condition_variant.metafields[namespace][metafield_key] | metafield_text -%}
      {%- unless mfiltr_value != '' and filtr_value contains mfiltr_value -%}
        {%- assign skip_by_filter = true -%}{%- break -%}
      {%- endunless -%}
    {%- endif -%}
  {% endfor %}
{% endfor %}
{%- if skip_by_filter -%}{%- continue -%}{%- endif -%}
              {%- assign variable_first_variant = product -%}
              {%- break -%}
            {%- endunless -%}
          {%- endfor -%}
        {%- endif -%}

        {%- if variable_first_variant != null -%}
          {%- assign product = variable_first_variant -%}
          {%- assign variant = product -%}
          {%- assign variable_option1_value = variant.option1 | replace: '"', '' | replace: "'", '' -%}
          {%- assign variable_option2_value = variant.option2 | replace: '"', '' | replace: "'", '' -%}
          {%- assign variable_option3_value = variant.option3 | replace: '"', '' | replace: "'", '' -%}

          {%- assign variant_hsh = '{' -%}
          {%- if option1 == true -%}
            {%- assign variant_hsh = variant_hsh | append:'"option1":"' | append: variable_option1_value | append: '"' -%}
          {%- endif -%}
          {%- if option2 == true -%}
            {%- if option1 == true -%}
              {%- assign variant_hsh = variant_hsh | append:',' -%}
            {%- endif -%}
            {%- assign variant_hsh = variant_hsh | append:'"option2":"' | append: variable_option1_value | append: '"' -%}
          {%- endif -%}
          {%- if option3 == true -%}
            {%- if option1 == true or option2 == true -%}
              {%- assign variant_hsh = variant_hsh | append:',' -%}
            {%- endif -%}
            {%- assign variant_hsh = variant_hsh | append:'"option3":"' | append: variable_option1_value | append: '"' -%}
          {%- endif -%}
          {%- assign variant_hsh = variant_hsh | append:'}' -%}

          {%- assign option_values = option_values | append: ', ' | append: variant_hsh -%}
          {%- assign shown_variants = shown_variants | append: ', ' | append: product.id -%}
          
              {%- assign variable_option1_value = variant.option1 | replace: '"', '' | replace: "'", '' -%}
              {%- assign variable_option2_value = variant.option2 | replace: '"', '' | replace: "'", '' -%}
              {%- assign variable_option3_value = variant.option3 | replace: '"', '' | replace: "'", '' -%}

              {%- assign variable_product_variant = '{"id":"' | append:variant.id | append: '", "option1":"' | append:variable_option1_value | append: '", "option2":"' | append:variable_option2_value | append: '", "option3":"' | append:variable_option3_value | append: '", "available":' | append:variant.available | append: ', "ctitle":' | append:variant_hsh | append: '}' -%}
              {%- assign tmp_variant_arr = variable_product_variant | split: "," -%}
              {%- assign variants_arr = variants_arr|concat:tmp_variant_arr -%}

          <div class="Carousel__Cell">
                  {%- include 'product-item', show_product_info: section.settings.show_product_info, show_vendor: section.settings.show_vendor, show_color_swatch: section.settings.show_color_swatch, show_labels: true -%}
                </div>
        {%- endif -%}

      {%- endif -%}


      {%- endif -%}
      {%- assign joined_variants = variants_arr | join: "," -%}
      {%- assign variable_product = variable_product | append: joined_variants | append:"]}}" -%}

      {%- assign tmp_product_arr = variable_product | split: "," -%}
      {%- assign variable_products_arr = variable_products_arr|concat:tmp_product_arr -%}
    {%- endfor -%}

    {%- assign joined_products = variable_products_arr | join: "," -%}
    {%- assign variable_products = variable_products | append: joined_products | append:"]" -%}
    <span data-behavior="variable_product_list" data-product_list='{{ variable_products }}'></span>
  </main>
  
{%- endif -%}
