<!doctype html>

<html class="no-js" lang="{{ shop.locale }}">
  <head>{% render 'pagefly-head' %}
    <meta charset="utf-8"> 
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, height=device-height, minimum-scale=1.0, user-scalable=0">
    <meta name="theme-color" content="{{ settings.accent_color }}">

    <title>
      {{ page_title }}{% if current_tags %}{% assign meta_tags = current_tags | join: ', ' %} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags }}{% endif %}{% if current_page != 1 %} &ndash; {{ 'general.meta.page' | t: page: current_page }}{% endif %}{% unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless %}
    </title>

    {%- if page_description -%}
      <meta name="description" content="{{ page_description | escape }}">
    {%- endif -%}

    <link rel="canonical" href="{{ canonical_url }}">

    {%- if settings.favicon -%}
      <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png">
    {%- endif -%}

    {% include 'social-meta-tags' %}

    
  {{ content_for_header }}
{%- render 'bold-common' -%}

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ 'theme.scss.css' | asset_url }}">
    <link rel="stylesheet" href="{{ 'custom.scss.css' | asset_url }}">

    <script>
      // This allows to expose several variables to the global scope, to be used in scripts
      window.theme = {
        template: {{ template.name | json }},
        shopCurrency: {{ shop.currency | json }},
        moneyFormat: {{ shop.money_format | json }},
        moneyWithCurrencyFormat: {{ shop.money_with_currency_format | json }},
        currencyConversionEnabled: {{ settings.currency_conversion_enabled | json }},
        currencyConversionMoneyFormat: {{ settings.currency_conversion_money_format | json }},
        currencyConversionRoundAmounts: {{ settings.currency_conversion_round_amounts | json }},
        productImageSize: {{ settings.product_image_size | json }},
        searchMode: {{ settings.search_mode | json }},
        showPageTransition: {{ settings.show_page_transition | json }},
        showElementStaggering: {{ settings.show_element_staggering | json }},
        showImageZooming: {{ settings.show_image_zooming | json }},
        enableExperimentalResizeObserver: false
      };

      window.languages = {
        cartAddNote: {{ 'cart.general.add_note' | t | json }},
        cartEditNote: {{ 'cart.general.edit_note' | t | json }},
        productImageLoadingError: {{ 'product.slideshow.image_loading_error' | t | json }},
        productFormAddToCart: {%- assign ptags = product.tags | downcase | json -%}{% if product.template_suffix == 'pre-order' or ptags contains '#expected ship date' %}{{ 'product.form.pre_order' | t | json }}{% else %}{{ 'product.form.add_to_cart' | t | json }}{% endif %},
        productFormUnavailable: {{ 'product.form.unavailable' | t | json }},
        productFormSoldOut: {{ 'product.form.sold_out' | t | json }},
        shippingEstimatorOneResult: {{ 'cart.shipping_estimator.one_result_title' | t | json }},
        shippingEstimatorMoreResults: {{ 'cart.shipping_estimator.more_results_title' | t | json }},
        shippingEstimatorNoResults: {{ 'cart.shipping_estimator.no_results_title' | t | json }}
      };

      window.lazySizesConfig = {
        loadHidden: false,
        hFac: 0.5,
        expFactor: 2,
        ricTimeout: 150,
        lazyClass: 'Image--lazyLoad',
        loadingClass: 'Image--lazyLoading',
        loadedClass: 'Image--lazyLoaded'
      };

      document.documentElement.className = document.documentElement.className.replace('no-js', 'js');
      document.documentElement.style.setProperty('--window-height', window.innerHeight + 'px');

      // We do a quick detection of some features (we could use Modernizr but for so little...)
      (function() {
        document.documentElement.className += ((window.CSS && window.CSS.supports('(position: sticky) or (position: -webkit-sticky)')) ? ' supports-sticky' : ' no-supports-sticky');
        document.documentElement.className += (window.matchMedia('(-moz-touch-enabled: 1), (hover: none)')).matches ? ' no-supports-hover' : ' supports-hover';
      }());

      window.onpageshow = function (event) {
        if (event.persisted) {
          window.location.reload();
        }
      };
    </script>

    <script src="{{ 'lazysizes.min.js' | asset_url }}" async></script>

    {% if settings.currency_conversion_enabled %}
      <script src="//cdn.shopify.com/s/javascripts/currencies.js" defer></script>
    {% endif %}

    {%- if template == 'customers/addresses' -%}
      <script src="{{ 'shopify_common.js' | shopify_asset_url }}" defer></script>
      <script src="{{ 'customer_area.js' | shopify_asset_url }}" defer></script>
    {%- endif -%}

    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdn.polyfill.io/v3/polyfill.min.js?unknown=polyfill&features=fetch,Element.prototype.closest,Element.prototype.remove,Element.prototype.classList,Array.prototype.includes,Array.prototype.fill,Object.assign,CustomEvent,IntersectionObserver,IntersectionObserverEntry" defer></script>
    <script src="{{ 'libs.min.js' | asset_url }}" defer></script>
    <script src="{{ 'theme.min.js' | asset_url }}" defer></script>
    <script src="{{ 'custom.js' | asset_url }}" defer></script>

    {% include 'microdata-schema' %}

   
	{% render 'pagefly-header' %}
    
    {% include 'cj-event-storage' %}
  
  
{% render 'pagefly-header' %}
   
  

<!--begin-boost-pfs-filter-css-->
  {% render 'boost-pfs-style' %}
<!--end-boost-pfs-filter-css-->


{% include 'sca-quick-view-init' %}
  {% render 'qikify-apps' %}

                  {% include 'bss-product-labels-configs' %}
                     {% include 'variable-products-head-template' %}
 </head>
                

  <body class="prestige--v3 {% if template.directory %}template-{{ template.directory | handle }}{% endif %} template-{{ template.name | handle }}">
    <a class="PageSkipLink u-visually-hidden" href="#main">{{ 'header.navigation.skip_to_content' | t }}</a>
    <span class="LoadingBar"></span>
    <div class="PageOverlay"></div>
    <div class="PageTransition"></div>

    {% section 'popup' %}
    {% section 'sidebar-menu' %}

    {%- if template != 'cart' -%}
      {% include 'cart-drawer' %}
    {%- endif -%}

    <div class="PageContainer">
      {% section 'announcement' %}
      {% section 'header' %}

      <main id="main" role="main">
        {{ content_for_layout }}
      </main>

      {% section 'footer' %}
    </div>

    {%- comment -%}
    --------------------------------------------------------------------------------------------------------------------
    SEARCH FORM (available globally)
    --------------------------------------------------------------------------------------------------------------------
    {%- endcomment -%}

    <div id="Search" class="Search Modal" aria-hidden="true" data-scrollable>
      <div class="Search__SearchBar">
        <form action="/search" name="GET" role="search" class="Search__Form">
          <input type="search" class="Search__Input Heading" name="q" autocomplete="off" autocorrect="off" autocapitalize="off" placeholder="{{ 'search.general.input_placeholder' | t }}" autofocus>
          <input type="hidden" name="type" value="product">
        </form>

        <button class="Search__Close Link Link--primary" data-action="close-modal">{% include 'icon' with 'close' %}</button>
      </div>
    </div>


<!-- Back in Stock helper snippet -->
{% render 'back-in-stock-helper' %}
<!-- End Back in Stock helper snippet -->
{% render 'spurit_po2_theme_snippet' %}
<style>

  .dialog-wrapper{
    display: none;
  }
</style>
  {%- render 'bold-loyalties-widget' -%}

{% include 'swymSnippet' %}


<!--begin-boost-pfs-js-->
  {% render 'boost-pfs' %}
<!--end-boost-pfs-js-->
{% include 'sca-quick-view-template' %} 
 {% if content_for_header contains 'product_label' %}{% include 'bss-product-label-js' %}{% include 'bss-label-style-css' %}{% endif %}</body>
</html>

<script type="text/javascript" src="https://static-us.afterpay.com/javascript/present-afterpay.js"></script>

<script>
      const apConfig = {
        priceSelector: '.ProductMeta__PriceList',
        amount: '{{product.price | json}}',
        locale: 'en_US',
        currency: 'USD',
    
      };
  
  if (window.location.toString().includes("cart")){

    apConfig.priceSelector = ".Cart__Total";
    apConfig.amount = '{{cart.total_price | json}}';
    new presentAfterpay(apConfig).init();
  } else {
    
window.onload = function() {
            // Detect product price on initial load

        let productPrice = document.querySelector('#shopify-section-product-template > section > div.Product__Wrapper > div.Product__InfoWrapper > div.Product__Info > div > div.ProductMeta > div > span').innerText;
        let formattedPrice = Number(productPrice.replace(/[^a-zA-Z0-9 ]/g,''));
        
		apConfig.amount = parseInt(formattedPrice += "00");
        
        new presentAfterpay(apConfig).init();
        
        // Detect price change when new variant selected
        const targetNode = document.querySelector('#product_form_3941378555927 > div > div:nth-child(2) > span');
  
        const config = { childList: true, subtree: true };

        const callback = function(mutationsList, observer) {
          for(let mutation of mutationsList) {
            if(mutation.target == document.querySelector('#product_form_3941378555927 > div > div:nth-child(2) > span > span')){
             
              	console.log('changes made');
              let newPrice = document.querySelector('#shopify-section-product-template > section > div.Product__Wrapper > div.Product__InfoWrapper > div.Product__Info > div > div.ProductMeta > div > span').innerText;
              let newFormattedPrice = Number(newPrice.replace(/[^a-zA-Z0-9 ]/g,'' ));
              
             
              apConfig.amount = parseInt(newFormattedPrice += "00");
              
              if(document.querySelector('p.afterpay-paragraph')){
                document.querySelector('p.afterpay-paragraph').remove();
              }
                 
              new presentAfterpay(apConfig).init();
              
            }
          }
        };

        const observer = new MutationObserver(callback);

        observer.observe(targetNode, config);
                                                
        
      };
  }
</script>

<style>
  
	.afterpay-paragraph {
      font-size: 14px !important;
    }
  
  	.afterpay-logo {
      max-width: 85px !important;
  	}
#widget-btn p, #widget-btn-preview p {  padding-left: 16px !important;
}

#widget-btn, #widget-btn-preview {
  background-color: #F5648C !important;
  font-family: "FSSienaWeb-Thin" !important;
  font-weight: 700 !important;
}

.bg-IconDefault p {
  background-image: none !important;
}
</style>
<!-- Begin Shopify-Afterpay JavaScript Snippet (v1.0.1) -->
<script type="text/javascript">
  // Liquid variables:
  var afterpay_product = {{ product | json }};
  var afterpay_product_variant = {{ product.selected_or_first_available_variant | json }};
  var afterpay_cart_total_price = {{ cart.total_price | json }};
</script>
<!-- End Shopify-Afterpay JavaScript Snippet (v1.0.1) -->