{%- capture leftbanner -%}
  {%- include 'template__image-text' 
    title: section.settings.left_title, 
	img: section.settings.left_image,
    img_res: '1600x',
    link: section.settings.left_link,
    link_text: section.settings.left_link_text,
    color: section.settings.left_color,
    padding: section.settings.text_padding,
    text_alignment: section.settings.text_alignment,
    link_button: true -%}
{%-endcapture-%}
{%- capture rightbanner -%}
  {%- include 'template__image-text'
    img: section.settings.right_image,
    img_res: '1600x',
    link: section.settings.right_link,
    link_button: false -%}
{%- endcapture -%}
{%- include 'template__two-col' 
    swap: section.settings.swap, 
    left_width: section.settings.left_width, 
    leftcol_content: leftbanner, 
    rightcol_content: rightbanner -%}

{% schema %}
{
  "name": "2 Columns Banner",
  "settings": [
    {
      "id": "swap",
      "type": "checkbox",
      "label": "Swap Columns",
      "info": "Places image column to the right"
    },
    {
      "type": "header",
      "content": "Left Column"
    },
    {
      "id": "left_image",
      "type": "image_picker",
      "label": "Image"
    },
    {
      "id": "left_width",
      "type": "select",
      "label": "Width",
      "options": [
        {"label": "8.33% wide", "value": "col-md-1"},
        {"label": "16.66% wide", "value": "col-md-2"},
        {"label": "25% wide", "value": "col-md-3"},
        {"label": "33.33% wide", "value": "col-md-4"},
        {"label": "41.66% wide", "value": "col-md-5"},
        {"label": "50% wide", "value": "col-md-6"},
        {"label": "58.33% wide", "value": "col-md-7"},
        {"label": "66.66% wide", "value": "col-md-8"},
        {"label": "75% wide", "value": "col-md-9"},
        {"label": "83.33% wide", "value": "col-md-10"},
        {"label": "91.66% wide", "value": "col-md-11"},
        {"label": "100% wide", "value": "col-md-12"}
      ],
      "default": "col-md-6"
    },
    {
      "id": "left_title",
      "type": "text",
      "label": "Heading"
    },
	
    {
      "id": "left_color",
      "type": "color",
      "label": "Title Color"
    },
    {
      "id": "left_link",
      "type": "url",
      "label": "Link"
    },
    {
      "id": "left_link_text",
      "type": "text",
      "label": "Link Text",
      "default": "Shop Now"
    },
    {
      "id": "text_alignment",
      "type": "select",
      "label": "Text Alignment",
      "options": [
        {"label": "Top Left", "value": "align-top-left"},
        {"label": "Top Center", "value": "align-top-center"},
        {"label": "Top Right", "value": "align-top-right"},
        {"label": "Center Left", "value": "align-center-left"},
        {"label": "Center Center", "value": "align-center-center"},
        {"label": "Center Right", "value": "align-center-right"},
        {"label": "Bottom Left", "value": "align-bottom-left"},
        {"label": "Bottom Center", "value": "align-bottom-center"},
        {"label": "Bottom Right", "value": "align-bottom-right"}
      ],
      "default": "align-center-center"
    },
    {
    "type": "range",
    "id": "text_padding",
    "min": 0,
    "max": 20,
    "step": 1,
    "unit": "%",
    "label": "Text Padding",
    "default": 5
    },
    {
      "type": "header",
      "content": "Right Column"
    },
    {
      "id": "right_image",
      "type": "image_picker",
      "label": "Image"
    },
    {
      "id": "right_link",
      "type": "url",
      "label": "Link"
    }
  ],
  "presets": [
    {
      "name": "2 Columns Banner",
      "category": "Content"
    }
  ]
}
{% endschema %}