<section class="Section Section--spacingNormal" data-section-id="{{ section.id }}" data-section-type="about-blurb">
	<h2>{{ section.settings.heading }}</h2>
	{{ section.settings.content }}
</section>

{% schema %}
  {
    "name": "About Us",
	"class": "shopify-section--bordered",
    "settings": [
		{
			"id": "heading",
			"type": "text",
			"label": "Heading",
			"default": "About Us"
		},
		{
			"id": "content",
			"type": "richtext",
			"label": "Content"
		}
	]
  }
{% endschema %}

<style type="text/css">
	#shopify-section-about-blurb {
		text-align: center;
		padding: 0 20px;
	}
	#shopify-section-about-blurb h2 {
		font-size: 1.5rem;
      	margin-bottom: 1.2rem;
	}
</style>
