<section class="foursixty-section">
  
<script src="//foursixty.com/media/scripts/fs.slider.v2.5.js" data-feed-id="amanda-uprichard" data-theme="slider_v2_5" data-open-links-in-same-page="true" data-cell-size="16.666%"></script>
<style>.fs-has-links::after { padding:4px 8px;color:#ffffff;content:"SHOP NOW"; } .fs-wrapper { height:auto; } .fs-slider_v2_5  .fs-entry-container { height:0 !important;width:16.666%!important;padding-top:16.666%!important; } .fs-wrapper div.fs-text-container .fs-entry-title, div.fs-detail-title { font-family:Times New Roman, serif;font-style:normal;font-weight:normal;font-size:14px; } div.fs-text-container .fs-entry-date, div.fs-detail-container .fs-post-info, div.fs-wrapper div.fs-has-links::after, .fs-text-product, .fs-overlink-text { font-family:Helvetica Neue, Helvetica, Arial, sans-serif;font-style:normal;font-weight:normal;font-size:14px; } .fs-wrapper div.fs-text-container * { color:#ffffff; } .fs-wrapper div.fs-text-container { background-color:rgba(0, 0, 0, 0.8);margin:0px; } div.fs-entry-date { display:none; } div.fs-entry-title { display:none; } .fs-slider_v2_5 .fs-wrapper div.fs-timeline-entry { margin:1px; }  
.foursixty-section {  margin-top: 20px; text-align: center; }
.fs-detail-content img[aria-hidden=true] { display: none }  
@media only screen and (max-width: 768px) {
        .foursixty-section {  margin-top: 0px !important; }
        .fs-timeline { max-width: calc(100% - 60px); margin: auto; }
        .fs-slider-next-button, .fs-slider-prev-button { opacity: 1 !important; min-width: 30px; display: flex !important; }
        .fs-wrapper div.fs-entry-container { height: 0; width: 50% !important; padding-top: 50% !important; } }
</style>
</section>
{% schema %}
  {
    "name": "Foursixty",
    "settings": [],
    "presets": [{
        "name": "Foursixty Front Page Gallery",
        "category": "Foursixty"
    }]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}