<div class="full-width-banner__container banner__container">
    {%- include 'template__image-text' 
        title: section.settings.title, 
  		img: section.settings.image,
        img_mob: section.settings.image_mob,
        img_res: '1600x',
        link: section.settings.link,
        link_text: section.settings.link_text,
        color: section.settings.color,
        padding: section.settings.text_padding,
        text_alignment: section.settings.text_alignment,
        link_button: true -%}

  {% if section.settings.cta_text != blank %}
    <div class="home-cta-container">
      <a class="Button Button--primary" href="{{ section.settings.cta_link }}"><span>{{ section.settings.cta_text }}</span></a>
    </div>
  {% endif %}
</div>

{% schema %}
{
  "name": "Image Banner",
  "settings": [
    {
    "type": "range",
    "id": "main_section_padding",
    "min": 0,
    "max": 200,
    "step": 5,
    "unit": "px",
    "label": "Side Margins",
    "default": 30
    },
	{
      "id": "image",
      "type": "image_picker",
      "label": "Desktop Image"
    },
    {
      "id": "alt",
      "type": "text",
      "label": "Image Alt Tag"
    },
    {
      "id": "title",
      "type": "text",
      "label": "Heading"
    },
	
    {
      "id": "color",
      "type": "color",
      "label": "Text Color"
    },
    {
      "id": "link",
      "type": "url",
      "label": "Link"
    },
    {
      "id": "link_text",
      "type": "text",
      "label": "Link Text",
      "default": "Shop Now"
    },
    {
      "id": "text_alignment",
      "type": "select",
      "label": "Text Alignment",
      "options": [
        {"label": "Top Left", "value": "align-top-left"},
        {"label": "Top Center", "value": "align-top-center"},
        {"label": "Top Right", "value": "align-top-right"},
        {"label": "Center Left", "value": "align-center-left"},
        {"label": "Center Center", "value": "align-center-center"},
        {"label": "Center Right", "value": "align-center-right"},
        {"label": "Bottom Left", "value": "align-bottom-left"},
        {"label": "Bottom Center", "value": "align-bottom-center"},
        {"label": "Bottom Right", "value": "align-bottom-right"}
      ],
      "default": "align-center-center"
    },
    {
      "type": "range",
      "id": "text_padding",
      "min": 0,
      "max": 20,
      "step": 1,
      "unit": "%",
      "label": "Text Padding",
      "default": 5
    },
    {
      "type": "text",
      "id": "cta_text",
      "label": "CTA Text"
    },
    {
      "type": "url",
      "id": "cta_link",
      "label": "CTA Link"
    }
  ],
  "presets": [
    {
      "name": "Image Banner",
      "category": "Content"
    }
  ]
}
{% endschema %}
