{%comment%}
<style>
  {% assign header_font = section.settings.isnta_title_font %}
  {% assign subheader_font = section.settings.isnta_subtitle_font %}
  {{ header_font | font_face }}
  {{ subheader_font | font_face }}
</style>
{%endcomment%}
{%- capture flickity_config -%}
{
  "wrapAround": true,
  "pageDots": false,
  "setGallerySize": false,
  "prevNextButtons": true,
  "arrowShape": {"x0": 20, "x1": 60, "y1": 40, "x2": 60, "y2": 35, "x3": 25}
}
{%- endcapture -%}

<section class="Section Section--spacingNormal" data-section-id="{{ section.id }}" data-section-type="instagram">
  {%- if section.settings.subheading != blank or section.settings.title != blank -%}
    <section class="SectionHeader SectionHeader--center">
      <div class="Container">
        {%- if section.settings.subheading != blank -%}
          <h3 class="SectionHeader__SubHeading Heading u-h6" {%-if section.settings.insta_subtitle_font.family-%}style='font-style:{{section.settings.insta_subtitle_font.style}}; font-weight: {{section.settings.insta_subtitle_font.weight}};font-family:{{section.settings.insta_subtitle_font.family}};'{%-endif-%}>{{ section.settings.subheading | escape }}</h3>
        {%- endif -%}

        {%- if section.settings.title != blank -%}
          <h2 class="SectionHeader__Heading Heading u-h1" {%-if section.settings.insta_title_font.family-%}style='font-style:{{section.settings.insta_title_font.style}}; font-weight: {{section.settings.insta_title_font.weight}};font-family:{{section.settings.insta_title_font.family}};'{%-endif-%}>{{ section.settings.title | escape }}</h2>
        {%- endif -%}
      </div>
    </section>
  {%- endif -%}

  {%- if section.settings.access_token != blank -%}
    <div class="Instafeed Carousel Carousel--fixed" data-access-token="{{ section.settings.access_token }}" data-image-count="{{ section.settings.image_count }}" data-flickity-config='{{ flickity_config }}'></div>
  {%- else -%}
    {%- comment -%}If no images, we display some placeholder content{%- endcomment -%}
    <div class="Instafeed Carousel Carousel--fixed" data-flickity-config='{{ flickity_config }}'>
      {%- for i in (1..8) -%}
        <div class="Carousel__Cell Instafeed__Cell">
          <a href="#" class="Instafeed__Link PlaceholderBackground">
            {{ 'image' | placeholder_svg_tag: 'Instafeed__Image PlaceholderBackground__Svg PlaceholderSvg--dark' }}
          </a>
        </div>
      {%- endfor -%}
    </div>
  {%- endif -%}
  
  {%- if section.settings.button_text != blank -%}
    <div class="SectionFooter">
      <a href="{{ section.settings.button_url }}" class="Button Button--primary" target="_blank" rel="noopener">{{ section.settings.button_text | escape }}</a>
    </div>
  {%- endif -%}
</section>

{% schema %}
{
  "name": "Instagram feed",
  "class": "shopify-section--bordered",
  "settings": [
    {
      "type": "text",
      "id": "subheading",
      "label": "Sub-heading",
      "default": "@YourStore"
    },
    
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Follow us"
    },
    
    {
      "type": "text",
      "id": "access_token",
      "label": "Access token",
      "info": "[Find your access token](http://www.maestrooo.com/instagram)."
    },
    {
      "type": "range",
      "id": "image_count",
      "min": 6,
      "max": 20,
      "step": 1,
      "label": "Image count",
      "default": 15
    },
    {
      "type": "text",
      "id": "button_text",
      "label": "Button text"
    },
    {
      "type": "url",
      "id": "button_url",
      "label": "Button link"
    }
  ],
  "presets": [
    {
      "category": "Social media",
      "name": "Instagram feed",
      "settings": {}
    }
  ]
}
{% endschema %}