<section id="section-{{ section.id }}" data-section-id="{{ section.id }}" data-section-type="multi-image-banner">
  <div class="MultiBanner MultiBanner--content-{{ section.settings.text_alignment }}">
    {%- for block in section.blocks -%}
   	  <div class="MultiBanner__Item">
        <a href="{{ block.settings.url }}">
          <div class="MultiBanner__Image">
            <img
              alt=""
              data-sizes="auto"
              data-srcset="{{ block.settings.image | img_url: '250x' }} 250w,
                           {{ block.settings.image | img_url: '500x' }} 500w,
                           {{ block.settings.image | img_url: '750x' }} 750w,
                           {{ block.settings.image | img_url: '1000x' }} 1000w,
                           {{ block.settings.image | img_url: '1500x' }} 1500w"
              data-src="{{ block.settings.image | img_url: '500x' }}"
              class="Image--lazyLoad" />
          </div>
          <div class="MultiBanner__Content">
            <div class="MultiBanner__Content--inner {% if section.settings.is_italic == true %}font-italic{% endif %}">
              <h3
                class="multibanner-header-{{ section.id }}"
                style="color: {{ block.settings.header_color }}"
              >
                {{ block.settings.header }}
              </h3>
              <h4
                class="multibanner-subheader-{{ section.id }}"
                style="color: {{ block.settings.subheader_color }}"
              >
                {{ block.settings.subheader }}
              </h4>
            </div>
          </div>
        </a>
        
        {% if block.settings.cta_text != blank %}
          <div class="home-cta-container">
            <a class="Button Button--primary" href="{{ block.settings.cta_link }}"><span>{{ block.settings.cta_text }}</span></a>
          </div>
        {% endif %}
      </div>
    {%- endfor -%}
  </div>
</section>

<style>
  
@media screen and (min-width: 767px) {
  
#shopify-section-{{ section.id }} {
  margin: 0 {{ section.settings.multi_section_padding }}px;
} 
  
}
  
.multibanner-header-{{ section.id }} {
    font-size: {{ section.settings.header_size_d }}px;
    font-weight: {{ section.settings.header_font_weight }};
}
  
.multibanner-subheader-{{ section.id }} {
	font-size: {{ section.settings.subheader_size_d }}px;
  font-weight: {{ section.settings.subheader_font_weight }};
}
  
@media screen and (max-width: 767px) {
  
.multibanner-header-{{ section.id }} {
    font-size: {{ section.settings.header_size_m }}px;
}
  
.multibanner-subheader-{{ section.id }} {
	font-size: {{ section.settings.subheader_size_m }}px;
}  
  
}
  
</style>

{% schema %}
{
  "name": "Multi-Image Banner",
  "settings": [
    {
    "type": "range",
    "id": "multi_section_padding",
    "min": 0,
    "max": 200,
    "step": 5,
    "unit": "px",
    "label": "Side Margins",
    "default": 30
    },
    {
    "type": "checkbox",
    "id": "is_italic",
    "default": false,
    "label": "Italicize text"
    },
	  {
      "type": "select",
      "id": "text_alignment",
      "label": "Text alignment",
      "options": [
        {
          "value": "overlay",
          "label": "Centered Text Overlay"
        },
        {
          "value": "above",
          "label": "Centered Above Image"
        },
        {
          "value": "below",
          "label": "Centered Below Image"
        }
        ],
	      "default": "below"
    },
    {
      "type": "select",
      "id": "header_font_weight",
      "label": "Header font weight",
      "options": [
        {
          "value": "lighter",
          "label": "Light"
        },
        {
          "value": "bold",
          "label": "Bold"
        }
        ],
	      "default": "bold"
    },
    {
      "type": "select",
      "id": "subheader_font_weight",
      "label": "Sub-Header font weight",
      "options": [
        {
          "value": "lighter",
          "label": "Light"
        },
        {
          "value": "bold",
          "label": "Bold"
        }
        ],
	      "default": "bold"
    },
		{
    	  "type":      "range",
    	  "id":        "header_size_d",
    	  "min":       0,
    	  "max":       50,
    	  "step":      1,
    	  "unit":      "px",
    	  "label":     "Header Size (Desktop)",
    	  "default":   15
		},
    {
    	  "type":      "range",
    	  "id":        "subheader_size_d",
    	  "min":       0,
    	  "max":       50,
    	  "step":      1,
    	  "unit":      "px",
    	  "label":     "Sub-Header Size (Desktop)",
    	  "default":   15
		},
		{
    	  "type":      "range",
    	  "id":        "header_size_m",
    	  "min":       0,
    	  "max":       50,
    	  "step":      1,
    	  "unit":      "px",
    	  "label":     "Header Size (Mobile)",
    	  "default":   15
		},
		{
    	  "type":      "range",
    	  "id":        "subheader_size_m",
    	  "min":       0,
    	  "max":       50,
    	  "step":      1,
    	  "unit":      "px",
    	  "label":     "Sub-Header Size (Mobile)",
    	  "default":   15
		}
  ],
  "max_blocks": 4,
  "blocks": [
    {
      "type": "banner_image",
      "name": "Banner Image",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "header",
          "label": "Header"
        },
        {
          "type": "text",
          "id": "subheader",
          "label": "Subheader"
        },
        {
          "type": "url",
          "id": "url",
          "label": "Banner link",
		      "info": "The destination url when either image or text is clicked."
        },
        {
    	  "type":      "color",
    	  "id":        "header_color",
    	  "label":     "Header Color",
    	  "default":   "#000000"
		    },
        {
    	  "type":      "color",
    	  "id":        "subheader_color",
    	  "label":     "Sub-Header Color",
    	  "default":   "#000000"
		    },
        {
          "type": "text",
          "id": "cta_text",
          "label": "CTA Text"
        },
        {
          "type": "url",
          "id": "cta_link",
          "label": "CTA Link"
        }
      ]
    }
  ],
  "presets": [
    {
      "category": "Content",
      "name": "Multi-Image Banner",
      "settings": {
		"text_alignment": "below"
	  },
      "blocks": [
        {
          "type": "banner_image"
        },
        {
          "type": "banner_image"
        },
        {
          "type": "banner_image"
        }
      ]
    }
  ]
}
{% endschema %}