{% include 'template__internal-video' settings: section.settings %}

<style>
@media screen and (min-width: 767px) {
  #shopify-section-{{ section.id }} {
    margin: 0 {{ section.settings.section_padding }}px
  }
}

@media screen and (max-width: 767px) {
  #shopify-section-{{ section.id }} {
    margin: 0 {{ section.settings.section_padding_mobile }}px
  }
}
</style>

{% schema %}
{
  "name": "Internal mp4 Video",
  "settings": [
    {
    "type": "range",
    "id": "section_padding",
    "min": 0,
    "max": 200,
    "step": 5,
    "unit": "px",
    "label": "Side Margins (desktop)",
    "default": 30
    },
    {
    "type": "range",
    "id": "section_padding_mobile",
    "min": 0,
    "max": 200,
    "step": 5,
    "unit": "px",
    "label": "Side Margins (mobile)",
    "default": 30
    },
    {
      "id": "video_url",
      "type": "url",
      "label": "Video URL"
    },
    {
      "id": "internal_video_file",
      "type": "url",
      "label": "mp4 Video Source"
    },
    {
      "id": "controls",
      "type": "checkbox",
      "label": "Show Controls",
      "default": false
    },
    {
      "id": "loop",
      "type": "checkbox",
      "label": "Infinite Loop",
      "default": true
    },
    {
      "id": "autoplay",
      "type": "checkbox",
      "label": "Autoplay",
      "default": true
    },
    {
      "id": "sound",
      "type": "checkbox",
      "label": "Play Sound",
      "default": false
    }
  ],
  "presets": [
    {
      "name": "Internal mp4 Video",
      "category": "Content"
    }
  ]
}
{% endschema %}