{%- capture flickity_options -%}
{
  "prevNextButtons": true,
  "pageDots": false,
  "wrapAround": false,
  "contain": true,
  "cellAlign": "center",
  "watchCSS": true,
  "dragThreshold": 8,
  "groupCells": true,
  "arrowShape": {"x0": 20, "x1": 60, "y1": 40, "x2": 60, "y2": 35, "x3": 25}
}
{%- endcapture -%}

{%- capture section_settings -%}
{
  "productId": {% if template.name == 'product' %}{{ product.id }}{% else %}null{% endif %}
}
{%- endcapture -%}

{%- if section.settings.show_section -%}
  <section class="Section Section--spacingNormal" data-section-id="{{ section.id }}" data-section-type="recently-viewed-products" data-section-settings='{{ section_settings }}'>
    {%- if section.settings.title != blank -%}
      <header class="SectionHeader SectionHeader--center">
        <div class="Container">
          <h3 class="SectionHeader__Heading Heading u-h3">{{ section.settings.title | escape }}</h3>
        </div>
      </header>
    {%- endif -%}

    {%- if template.name == 'search' -%}
      <div class="ProductListWrapper">
        <div class="ProductList ProductList--carousel Carousel" data-flickity-config='{{ flickity_options }}'>
          {%- for product in search.results -%}
            <div class="Carousel__Cell">
              {% include 'product-item', show_product_info: section.settings.show_product_info, show_vendor: section.settings.show_vendor, show_color_swatch: section.settings.show_color_swatch, show_labels: true %}
            </div>
          {%- endfor -%}
        </div>
      </div>
    {%- endif -%}
  </section>
{%- endif -%}

{% schema %}
{
  "name": "Recently viewed products",
  "class": "shopify-section--bordered shopify-section--hidden",
  "settings": [
    {
      "type": "checkbox",
      "id": "show_section",
      "label": "Show section",
      "default": true
    },
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Recently viewed"
    },
    {
      "type": "checkbox",
      "id": "show_product_info",
      "label": "Show product info",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_vendor",
      "label": "Show vendor",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "show_color_swatch",
      "label": "Show color swatch",
      "info": "Some colors appear white? [Learn more](http://support.maestrooo.com/article/80-product-uploading-custom-color-for-color-swatch).",
      "default": false
    }
  ],
  "presets": [
	{
	  "category": "Product",
	  "name": "Recently Viewed",
	  "settings": {
		"show_section": true,
		"title": "Recently viewed",
		"show_product_info": true,
		"show_vendor": false,
		"show_color_swatch": false
	  }
	}
  ]
}
{% endschema %}