<style id="color-swatchs">
  {%- for block in section.blocks -%}
    .{{block.settings.title | handle }} .ColorSwatch {
      {%- if block.settings.color != null -%}
        background-color: {{block.settings.color}};
      {%- endif -%}
      {%-if block.settings.image != blank-%}
        background-image: url({{block.settings.image | img_url: '160x' }});
      {%- endif -%}
    }
  {%- endfor -%}
</style> 
{% schema %}
{
  "name": "Swatch Settings",
  "blocks": [
    {
      "name": "Color Swatch",
      "type": "color_swatch",
      "settings": [
        {
          "id": "title",
          "label": "Color Name",
          "type": "text"
        },
        {
          "id": "color",
          "type": "color",
          "label": "Solid Color"
        },
        {
          "id": "image",
          "type": "image_picker",
          "label": "Swatch Image"
        }
      ]
    }
  ]
}
{% endschema %}

