/* PageFly Element Styles */
						.lcHmGL { word-break: break-word; }
.lcHmGL span { font-weight: inherit; text-decoration: inherit; }
.lcHmGL i { margin-right: 0.3em; }
.jakOsZ { display: inline-block; vertical-align: middle; }
.jakOsZ img { width: 100%; border-radius: inherit; }
.bgMQOP { position: relative; }
.jklmHY { padding: var(--pf-s-lg); }
@media (max-width: 1199px) and (min-width: 992px) {
  .jklmHY { padding: var(--pf-s-md); }
}
@media (max-width: 991px) and (min-width: 768px) {
  .jklmHY { padding: var(--pf-s-sm); }
}
@media (max-width: 767px) {
  .jklmHY { padding: var(--pf-s-xs); }
}
.fTyjzF { position: relative; }
.eYzxUD { margin: 0 calc(-1 * var(--pf-s-lg)); }
@media (max-width: 1199px) and (min-width: 992px) {
  .eYzxUD { margin: 0 calc(-1 * var(--pf-s-md)); }
}
@media (max-width: 991px) and (min-width: 768px) {
  .eYzxUD { margin: 0 calc(-1 * var(--pf-s-sm)); }
}
@media (max-width: 767px) {
  .eYzxUD { margin: 0 calc(-1 * var(--pf-s-xs)); }
}
.bjKdkd__parallax { position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden; pointer-events: none; }
.bjKdkd { padding: 15px 0px; position: relative; }
.kSkqbf .video-wrapper, .kSkqbf .mediaWrapper { padding: 0px; position: initial !important; }
.cbrLgP > span:last-child { line-height: inherit; display: block; margin-right: 0px !important; }
#editor-dnd-wrapper .cbrLgP span + span[contenteditable] { display: block; }
#editor-dnd-wrapper .cbrLgP span + span[contenteditable]:empty::after { display: inline; }
.cbrLgP ol, .cbrLgP ul { list-style-position: inside; }
.cbrLgP blockquote { font-size: inherit; }
.fnmilh { display: inline-block; }
.fnmilh[contenteditable="true"] { user-select: text; }
.fnmilh { vertical-align: baseline; word-break: break-word; }
.fnmilh:focus { outline: none; }
.fnmilh::after { display: inline; }
						/* PageFly Styles */
						
@media all {
	.__pf .pf-8af46b31 {
		text-align: center;
	}
	.__pf .pf-9a8cc504 {
		text-align: center;
	}
	.__pf .pf-0e6aeb72 {
		width: 100%;
		 height: auto;
	}
	.__pf .pf-7462ddf1 {
		text-align: center;
	}
	.__pf .pf-5e714034 {
		width: 300px;
		 height: auto;
		 display: block;
		 margin-left: 80px;
	}
	.__pf .pf-4dd00793 {
		width: 100%;
		 height: auto;
	}
	.__pf .pf-349bd7a0 {
		width: 100%;
		 height: auto;
	}
	.__pf .pf-c21f5e71 {
		display: block;
		 font-size: 16px;
		 text-align: center;
	}
	.__pf .pf-d1816e5d {
		width: 300px;
		 height: auto;
		 margin-left: 150px;
		 margin-top: 50px;
	}
	.__pf .pf-307a0bc6 {
		font-size: 16px;
	}
	.__pf .pf-383c6e3a {
		text-align: center;
	}
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
	.__pf .pf-8af46b31 {
		font-size: 24px;
	}
	.__pf .pf-9a8cc504 {
		font-size: 20px;
	}
	.__pf .pf-5e714034 {
		margin-left: 100px;
	}
	.__pf .pf-307a0bc6 {
		font-size: 22px;
	}
	.__pf .pf-2b24383c {
		text-align: center;
	}
}
						