/* PageFly Element Styles */
						.fKltnh__parallax { position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden; pointer-events: none; }
.fKltnh { padding: 15px 0px; position: relative; }
.fKltnh .sc-drMfKT { position: relative; }
.fKltnh[data-container="true"] .sc-drMfKT { padding: 0px 15px; width: 100%; margin: auto; }
.fKltnh .pf-parallax__img { text-indent: -10000px; position: absolute; object-fit: cover; top: 0px; left: 0px; width: 100%; height: 100%; }
.bthysn { margin: 0 calc(-1 * var(--pf-s-lg)); }
@media (max-width: 1199px) and (min-width: 992px) {
  .bthysn { margin: 0 calc(-1 * var(--pf-s-md)); }
}
@media (max-width: 991px) and (min-width: 768px) {
  .bthysn { margin: 0 calc(-1 * var(--pf-s-sm)); }
}
@media (max-width: 767px) {
  .bthysn { margin: 0 calc(-1 * var(--pf-s-xs)); }
}
.cZcEAd { padding: var(--pf-s-lg); }
@media (max-width: 1199px) and (min-width: 992px) {
  .cZcEAd { padding: var(--pf-s-md); }
}
@media (max-width: 991px) and (min-width: 768px) {
  .cZcEAd { padding: var(--pf-s-sm); }
}
@media (max-width: 767px) {
  .cZcEAd { padding: var(--pf-s-xs); }
}
.gbyClD { position: relative; }
.iSrdJR { word-break: break-word; }
.iSrdJR span { font-weight: inherit; }
.iSrdJR i { margin-right: 0.3em; }
.lepPmi { display: inline-block; }
.lepPmi[contenteditable="true"] { user-select: text; }
.lepPmi { vertical-align: baseline; word-break: break-word; }
.lepPmi:focus { outline: none; }
.lepPmi::after { display: inline; }
.gUXmVf > span:last-child { line-height: inherit; display: block; margin-right: 0px !important; }
#editor-dnd-wrapper .gUXmVf span + span[contenteditable] { display: block; }
#editor-dnd-wrapper .gUXmVf span + span[contenteditable]:empty::after { display: inline; }
.gUXmVf ol, .gUXmVf ul { list-style-position: inside; }
.gUXmVf blockquote { font-size: inherit; }
.jUjtGd { display: inline-flex; vertical-align: middle; }
.jUjtGd picture { width: 100%; }
.gTPHAJ { overflow: hidden; display: inline-flex; -webkit-box-pack: start; justify-content: flex-start; align-items: flex-start; vertical-align: middle; max-width: 100%; }
.gTPHAJ img { display: inline-block; object-fit: cover; max-width: 100%; max-height: 100%; height: auto; text-align: center; width: 100%; vertical-align: middle; position: unset; }
.fABBSI { display: inline-block; line-height: 1; padding: 12px 20px; text-align: center; text-decoration: none; outline: 0px; }
.fABBSI i { margin-right: 0.3em; }
.fABBSI:hover, .fABBSI:active, .fABBSI:focus, .fABBSI span { color: inherit; text-decoration: none; }
						/* PageFly Styles */
						
@media all {
	.__pf .pf-fb82dfc4 {
		text-align: center;
		 font-size: 42px;
	}
	.__pf .pf-e84707d9 {
		text-align: center;
	}
	.__pf .pf-4f8ad40c {
		text-align: center;
	}
	.__pf .pf-9fc519b9 {
		background-color: rgb(0, 0, 0);
		 color: rgb(255, 255, 255);
		 text-align: center;
		 margin-left: 500px;
	}
	.__pf .pf-ec0ea5c6 {
		font-size: inherit;
	}
	.__pf .pf-42c72bcc {
		background-color: rgb(0, 0, 0);
		 color: rgb(255, 255, 255);
		 margin-left: 500px;
	}
	.__pf .pf-ada329ca {
		background-color: rgb(0, 0, 0);
		 color: rgb(255, 255, 255);
		 margin-left: 500px;
	}
}
						/* Extra CSS for lazy loading background image */
						.pf-bg-lazy { background-image: none !important; }