/* PageFly Element Styles */
						.fKltnh__parallax { position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden; pointer-events: none; }
.fKltnh { padding: 15px 0px; position: relative; }
.fKltnh .sc-drMfKT { position: relative; }
.fKltnh[data-container="true"] .sc-drMfKT { padding: 0px 15px; width: 100%; margin: auto; }
.fKltnh .pf-parallax__img { text-indent: -10000px; position: absolute; object-fit: cover; top: 0px; left: 0px; width: 100%; height: 100%; }
.bthysn { margin: 0 calc(-1 * var(--pf-s-lg)); }
@media (max-width: 1199px) and (min-width: 992px) {
  .bthysn { margin: 0 calc(-1 * var(--pf-s-md)); }
}
@media (max-width: 991px) and (min-width: 768px) {
  .bthysn { margin: 0 calc(-1 * var(--pf-s-sm)); }
}
@media (max-width: 767px) {
  .bthysn { margin: 0 calc(-1 * var(--pf-s-xs)); }
}
.cZcEAd { padding: var(--pf-s-lg); }
@media (max-width: 1199px) and (min-width: 992px) {
  .cZcEAd { padding: var(--pf-s-md); }
}
@media (max-width: 991px) and (min-width: 768px) {
  .cZcEAd { padding: var(--pf-s-sm); }
}
@media (max-width: 767px) {
  .cZcEAd { padding: var(--pf-s-xs); }
}
.gbyClD { position: relative; }
.iSrdJR { word-break: break-word; }
.iSrdJR span { font-weight: inherit; }
.iSrdJR i { margin-right: 0.3em; }
.lepPmi { display: inline-block; }
.lepPmi[contenteditable="true"] { user-select: text; }
.lepPmi { vertical-align: baseline; word-break: break-word; }
.lepPmi:focus { outline: none; }
.lepPmi::after { display: inline; }
.jBtkMg { position: relative; }
.bGlvSa { display: inline-flex; vertical-align: middle; }
.bGlvSa picture { width: 100%; border-radius: inherit; }
.ljIkgU { position: relative; overflow: hidden; display: inline-flex; -webkit-box-pack: start; justify-content: flex-start; align-items: flex-start; max-width: 100%; vertical-align: middle; }
.ljIkgU img { display: inline-block; object-fit: cover; height: auto; width: 100%; }
.catfvM > span:last-child { line-height: inherit; display: block; }
#editor-dnd-wrapper .catfvM[class*="dropcap--"]:not(.dropcap--none) > span:last-child[contenteditable] { display: block; }
#editor-dnd-wrapper .catfvM[class*="dropcap--"]:not(.dropcap--none) > span:last-child[contenteditable]:empty::after { display: inline; }
.catfvM[class*="dropcap--"] > span:first-child { display: block; margin-right: 10px; float: left; width: 50px; height: 50px; line-height: 50px; }
.catfvM[class*="dropcap--"]:not(.dropcap--none) > span:first-child { margin-right: 20px; text-align: center; }
.catfvM.dropcap--none > span:first-child { text-align: inherit; border-radius: 0px; line-height: 1 !important; width: auto !important; height: auto !important; background: none !important; }
.catfvM.dropcap--circle > span:first-child { border-radius: 100%; }
.catfvM:not([class*="dropcap--"]) > span { margin-right: 0px !important; }
.catfvM ol, .catfvM ul { list-style-position: inside; }
.catfvM blockquote { font-size: inherit; }
						/* PageFly Styles */
						
@media all {
	.__pf .pf-ea35bbbc {
		text-align: right;
		 color: rgba(255, 255, 255, 0);
	}
	.__pf .pf-1990bbe8 {
		padding-top: 0px;
		 padding-bottom: 0px;
		 position: absolute;
		 width: 100%;
		 z-index: 999999;
	}
	.__pf .pf-97bf27e2 {
		text-align: center;
		 font-size: 36px;
	}
	.__pf .pf-41f749e9 {
		font-size: 24px;
		 font-weight: normal;
		 line-height: 1.67;
		 letter-spacing: 2.67px;
		 text-align: left;
		 color: rgb(0, 0, 0);
		 font-family: "Open Sans", arial, sans-serif;
	}
	.__pf .pf-ba3f2077 {
		margin: 80px auto;
		 max-width: 1060px;
	}
	.__pf .pf-9e5bf96a {
		color: rgb(0, 0, 0);
	}
	.__pf .pf-ad611565 {
		color: rgb(0, 0, 0);
		 font-family: Avenir;
		 font-size: 42px;
		 margin-top: 78px;
	}
	.__pf .pf-14015f7c {
		color: rgb(0, 0, 0);
		 font-family: "Andale Mono";
	}
	.__pf .pf-a3ad6e1b {
		max-width: 405px;
		 margin: 0px auto;
		 text-align: left;
	}
	.__pf .pf-e847fd06 {
		width: 90%;
	}
	.__pf .pf-dc086825 {
		width: 100%;
		 height: auto;
	}
	.__pf .pf-30e01dce {
		margin: 0px auto 80px;
	}
	.__pf .pf-fbd13a0b {
		color: rgb(0, 0, 0);
		 font-family: Avenir;
		 font-size: 42px;
		 margin-top: 100px;
	}
	.__pf .pf-9c270dcb {
		color: rgb(0, 0, 0);
		 font-family: "Andale Mono";
	}
	.__pf .pf-f2b07ea9 {
		padding-right: 60px;
	}
	.__pf .pf-6b7dacca {
		text-align: left;
		 padding-top: 50px;
	}
	.__pf .pf-a64361b1 {
		margin: 0px auto 80px;
		 max-width: 1214px;
	}
	.__pf .pf-04a8a002 {
		margin: 0px auto 80px;
		 text-align: center;
	}
	.__pf .pf-e73e561c {
		width: 570px;
		 height: auto;
	}
	.__pf .pf-b0e1ca7d {
		font-size: 42px;
		 color: rgb(0, 0, 0);
		 font-family: Avenir;
		 margin-top: 100px;
	}
	.__pf .pf-e8b939cc {
		color: rgb(0, 0, 0);
		 font-family: "Andale Mono";
	}
	.__pf .pf-52136d54 {
		text-align: left;
	}
	.__pf .pf-500287e0 {
		padding: 0px 60px;
		 display: flex;
		 flex-direction: column;
		 justify-content: center;
	}
	.__pf .pf-802c5244 {
		padding: 0px 30px;
	}
	.__pf .pf-bed886f8 {
		color: rgb(0, 0, 0);
		 font-family: Avenir;
		 font-size: 42px;
	}
	.__pf .pf-e9ebd0d0 {
		color: rgb(0, 0, 0);
		 font-family: "Andale Mono";
	}
	.__pf .pf-a3307beb {
		font-size: 22px;
		 text-align: left;
	}
	.__pf .pf-71597de0 {
		padding: 0px 40px;
		 display: flex;
		 flex-direction: column;
		 justify-content: center;
	}
	.__pf .pf-095425fc {
		margin: 0px auto 80px;
	}
	.__pf .pf-07daeb9f {
		color: rgb(0, 0, 0);
		 font-family: Avenir;
		 font-size: 42px;
	}
	.__pf .pf-9ee2c4e3 {
		color: rgb(0, 0, 0);
		 font-family: "Andale Mono";
	}
	.__pf .pf-abea9330 {
		text-align: left;
	}
	.__pf .pf-c390f6f8 {
		padding: 0px 60px;
		 display: flex;
		 flex-direction: column;
		 justify-content: center;
	}
	.__pf .pf-5a85855b {
		width: 570px;
		 height: auto;
	}
	.__pf .pf-a04b52f3 {
		text-align: right;
	}
	.__pf .pf-b147ffb5 {
		margin: 0px auto 80px;
		 padding: 0px 30px;
	}
	.__pf .pf-800645bd {
		font-family: "Open Sans", arial, sans-serif;
		 background-color: rgb(255, 255, 255);
		 padding: 15px;
		 font-size: 30px;
		 font-weight: 600;
		 line-height: normal;
		 letter-spacing: 3.33px;
		 text-align: center;
		 color: rgb(0, 0, 0);
		 text-transform: uppercase;
		 margin-top: 458px;
	}
	.__pf .pf-ea6feae3 {
		position: absolute;
		 top: 50%;
		 transform: translateY(-50%);
		 right: 65px;
	}
	.__pf .pf-89e969be {
		max-width: 1000px;
		 margin: 0px auto 80px;
	}
	.__pf .pf-bfb64072 {
		font-family: "Open Sans", arial, sans-serif;
		 font-size: 16px;
		 font-weight: normal;
		 line-height: normal;
		 letter-spacing: 1.78px;
		 text-align: center;
		 color: rgb(0, 0, 0);
	}
	.__pf .pf-cdfa0c67 {
		margin-bottom: 160px;
	}
	.__pf .pf-6e6e9797 {
		padding: 0px;
	}
}
@media only screen and (max-width: 767px) {
	.__pf .pf-056864ad {
		width: 50%;
	}
	.__pf .pf-ea35bbbc {
		color: rgba(34, 25, 77, 0);
	}
	.__pf .pf-d2f374e2 {
		width: 50%;
	}
	.__pf .pf-f6d2dd0b {
		display: flex;
		 flex-flow: row nowrap;
		 align-items: center;
	}
	.__pf .pf-1990bbe8 {
		position: relative;
		 padding-left: 5px;
		 padding-right: 5px;
	}
	.__pf .pf-41f749e9 {
		font-size: 16px;
		 line-height: 1.88;
		 letter-spacing: 1.78px;
	}
	.__pf .pf-ba3f2077 {
		margin: 40px auto;
		 padding: 0px 15px;
	}
	.__pf .pf-ad611565 {
		margin-top: 0px;
	}
	.__pf .pf-e847fd06 {
		width: 100%;
		 margin: 0px auto 40px;
		 padding: 0px 15px;
	}
	.__pf .pf-fbd13a0b {
		margin-top: 0px;
	}
	.__pf .pf-f2b07ea9 {
		padding: 0px;
	}
	.__pf .pf-6b7dacca {
		text-align: center;
		 padding: 0px;
	}
	.__pf .pf-a64361b1 {
		margin-bottom: 40px;
		 padding: 0px 15px;
	}
	.__pf .pf-b0e1ca7d {
		margin-top: 0px;
	}
	.__pf .pf-500287e0 {
		padding-left: 15px;
		 padding-right: 15px;
		 margin-bottom: 40px;
	}
	.__pf .pf-802c5244 {
		display: flex;
		 flex-direction: column-reverse;
		 padding: 0px;
	}
	.__pf .pf-095425fc {
		margin-bottom: 40px;
	}
	.__pf .pf-c390f6f8 {
		padding-left: 15px;
		 padding-right: 15px;
		 margin-bottom: 40px;
	}
	.__pf .pf-b147ffb5 {
		padding: 0px;
		 margin-bottom: 40px;
	}
	.__pf .pf-4c597891 {
		width: 100%;
	}
	.__pf .pf-800645bd {
		font-size: 14px;
		 letter-spacing: 1.56px;
		 padding: 20px 8px;
	}
	.__pf .pf-ea6feae3 {
		right: 14px;
	}
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
	.__pf .pf-ad611565 {
		margin-top: 0px;
	}
	.__pf .pf-fbd13a0b {
		margin-top: 50px;
	}
	.__pf .pf-6b7dacca {
		padding-top: 20px;
	}
	.__pf .pf-e73e561c {
		width: 100%;
		 height: auto;
	}
	.__pf .pf-b0e1ca7d {
		margin-top: 0px;
	}
	.__pf .pf-3d71a848 {
		width: 100%;
		 height: auto;
	}
	.__pf .pf-ffea4adf {
		width: 100%;
		 height: auto;
	}
	.__pf .pf-5a85855b {
		width: 100%;
		 height: auto;
	}
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
	.__pf .pf-41f749e9 {
		font-size: 18px;
		 letter-spacing: 1.67px;
	}
	.__pf .pf-ad611565 {
		font-size: 25px;
		 margin-top: 33px;
		 margin-bottom: 15px;
	}
	.__pf .pf-14015f7c {
		font-size: 20px;
	}
	.__pf .pf-a3ad6e1b {
		font-size: 14px;
	}
	.__pf .pf-fbd13a0b {
		font-size: 25px;
		 margin-top: 36px;
	}
	.__pf .pf-9c270dcb {
		font-size: 20px;
	}
	.__pf .pf-f2b07ea9 {
		padding-right: 30px;
	}
	.__pf .pf-6b7dacca {
		padding-top: 20px;
		 font-size: 14px;
	}
	.__pf .pf-e73e561c {
		width: 100%;
		 height: auto;
	}
	.__pf .pf-b0e1ca7d {
		font-size: 25px;
		 margin-top: 55px;
	}
	.__pf .pf-e8b939cc {
		font-size: 20px;
	}
	.__pf .pf-52136d54 {
		font-size: 14px;
	}
	.__pf .pf-500287e0 {
		padding: 0px 15px;
	}
	.__pf .pf-802c5244 {
		padding: 0px;
	}
	.__pf .pf-bed886f8 {
		font-size: 20px;
	}
	.__pf .pf-e9ebd0d0 {
		font-size: 20px;
	}
	.__pf .pf-a3307beb {
		font-size: 14px;
	}
	.__pf .pf-71597de0 {
		padding: 0px 15px;
	}
	.__pf .pf-095425fc {
		margin-top: 15px;
	}
	.__pf .pf-07daeb9f {
		font-size: 35px;
	}
	.__pf .pf-9ee2c4e3 {
		font-size: 20px;
	}
	.__pf .pf-abea9330 {
		font-size: 14px;
	}
	.__pf .pf-c390f6f8 {
		padding: 0px 15px;
	}
	.__pf .pf-5a85855b {
		width: 100%;
		 height: auto;
	}
	.__pf .pf-b147ffb5 {
		padding: 0px;
	}
	.__pf .pf-800645bd {
		padding: 30px 15px;
		 font-size: 28px;
	}
	.__pf .pf-ea6feae3 {
		right: 25px;
	}
	.__pf .pf-6e6e9797 {
		margin-top: -2px;
	}
}
						/* Extra CSS for lazy loading background image */
						.pf-bg-lazy { background-image: none !important; }