/* PageFly Element Styles */
						.fKltnh__parallax { position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden; pointer-events: none; }
.fKltnh { padding: 15px 0px; position: relative; }
.fKltnh .sc-drMfKT { position: relative; }
.fKltnh[data-container="true"] .sc-drMfKT { padding: 0px 15px; width: 100%; margin: auto; }
.fKltnh .pf-parallax__img { text-indent: -10000px; position: absolute; object-fit: cover; top: 0px; left: 0px; width: 100%; height: 100%; }
.bthysn { margin: 0 calc(-1 * var(--pf-s-lg)); }
@media (max-width: 1199px) and (min-width: 992px) {
  .bthysn { margin: 0 calc(-1 * var(--pf-s-md)); }
}
@media (max-width: 991px) and (min-width: 768px) {
  .bthysn { margin: 0 calc(-1 * var(--pf-s-sm)); }
}
@media (max-width: 767px) {
  .bthysn { margin: 0 calc(-1 * var(--pf-s-xs)); }
}
.cZcEAd { padding: var(--pf-s-lg); }
@media (max-width: 1199px) and (min-width: 992px) {
  .cZcEAd { padding: var(--pf-s-md); }
}
@media (max-width: 991px) and (min-width: 768px) {
  .cZcEAd { padding: var(--pf-s-sm); }
}
@media (max-width: 767px) {
  .cZcEAd { padding: var(--pf-s-xs); }
}
.gbyClD { position: relative; }
.lphJbu { min-height: 30px; }
.iSrdJR { word-break: break-word; }
.iSrdJR span { font-weight: inherit; }
.iSrdJR i { margin-right: 0.3em; }
.lepPmi { display: inline-block; }
.lepPmi[contenteditable="true"] { user-select: text; }
.lepPmi { vertical-align: baseline; word-break: break-word; }
.lepPmi:focus { outline: none; }
.lepPmi::after { display: inline; }
.ljIkgU { position: relative; overflow: hidden; display: inline-flex; -webkit-box-pack: start; justify-content: flex-start; align-items: flex-start; max-width: 100%; vertical-align: middle; }
.ljIkgU img { display: inline-block; object-fit: cover; height: auto; width: 100%; }
.catfvM > span:last-child { line-height: inherit; display: block; }
#editor-dnd-wrapper .catfvM[class*="dropcap--"]:not(.dropcap--none) > span:last-child[contenteditable] { display: block; }
#editor-dnd-wrapper .catfvM[class*="dropcap--"]:not(.dropcap--none) > span:last-child[contenteditable]:empty::after { display: inline; }
.catfvM[class*="dropcap--"] > span:first-child { display: block; margin-right: 10px; float: left; width: 50px; height: 50px; line-height: 50px; }
.catfvM[class*="dropcap--"]:not(.dropcap--none) > span:first-child { margin-right: 20px; text-align: center; }
.catfvM.dropcap--none > span:first-child { text-align: inherit; border-radius: 0px; line-height: 1 !important; width: auto !important; height: auto !important; background: none !important; }
.catfvM.dropcap--circle > span:first-child { border-radius: 100%; }
.catfvM:not([class*="dropcap--"]) > span { margin-right: 0px !important; }
.catfvM ol, .catfvM ul { list-style-position: inside; }
.catfvM blockquote { font-size: inherit; }
.cueAoP { position: relative; display: inline-flex; width: 100%; flex-direction: column; overflow: hidden; }
.cueAoP .sc-fkyLDJ { position: relative; display: flex; flex: 1 1 auto; }
.cueAoP.pf-show-arrow .sc-iCwjlJ { opacity: 1; }
.cueAoP.pf-show-arrow .sc-iCwjlJ.prev-arrow { left: 16px; }
.cueAoP.pf-show-arrow .sc-iCwjlJ.next-arrow { right: 16px; }
@media (max-width: 767px) {
}
@media (max-width: 991px) and (min-width: 768px) {
}
@media (max-width: 1199px) and (min-width: 992px) {
  .cueAoP .sc-jdfcpN { display: none; }
}
@media (min-width: 1200px) {
  .cueAoP .sc-jdfcpN { display: none; }
}
@media (min-width: 992px) {
  .kLuDfY .sc-iCwjlJ { display: none; }
}
.kLuDfY .sc-iCwjlJ { transition: all 0.3s ease 0s; opacity: 1; }
.kLuDfY .sc-iCwjlJ.prev-arrow { left: 16px; top: calc(50% - 16px); }
.kLuDfY .sc-iCwjlJ.next-arrow { right: 16px; top: calc(50% - 16px); }
.kLuDfY .sc-iCwjlJ i.fa { color: rgb(93, 107, 130); transform: none; }
.kLuDfY .sc-iCwjlJ { transition: all 0.3s ease 0s; opacity: 0; }
.kLuDfY .sc-iCwjlJ.prev-arrow { left: -100%; top: calc(50% - 16px); }
.kLuDfY .sc-iCwjlJ.next-arrow { right: -100%; top: calc(50% - 16px); }
.kLuDfY .sc-iCwjlJ i.fa { transform: none; }
.kLuDfY:hover .sc-iCwjlJ { opacity: 1; }
.kLuDfY:hover .sc-iCwjlJ.prev-arrow { left: 16px; }
.kLuDfY:hover .sc-iCwjlJ.next-arrow { right: 16px; }
.knqNYo { position: absolute; z-index: 1; width: 32px; height: 32px; line-height: 34px; text-align: center; cursor: pointer; background: rgba(255, 255, 255, 0.35); border-radius: 2px; opacity: 0; }
.knqNYo.prev-arrow { left: 16px; top: calc(50% - 16px); }
.knqNYo.next-arrow { right: 16px; top: calc(50% - 16px); }
.knqNYo i.fa { font-size: 20px; color: rgb(93, 107, 130); }
.knqNYo.pf-show-nav { opacity: 1; }
.gagaSm { position: relative; vertical-align: middle; width: 100%; height: 450px; display: var(--pf-d-lg); }
@media (max-width: 1199px) and (min-width: 992px) {
  .gagaSm { display: var(--pf-d-md); }
}
@media (max-width: 991px) and (min-width: 768px) {
  .gagaSm { display: var(--pf-d-sm); }
}
@media (max-width: 767px) {
  .gagaSm { display: var(--pf-d-xs); }
}
.gagaSm img { border-radius: 4px; object-fit: contain; width: 100%; }
.gagaSm a { position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; }
@media (max-width: 991px) {
  .gagaSm { margin: 0px; }
}
.LoXMC { position: relative; display: flex; margin-top: 10px; }
.LoXMC .icon-left { transform: rotate(180deg); }
.LoXMC .icon-right { right: 0px; }
.LoXMC .icon-left:hover, .LoXMC .icon-right:hover { opacity: 0.5; }
.LoXMC .pf-p-image-small-container { width: 100%; overflow: hidden; position: relative; }
.LoXMC .pf-p-image-small-container .pf-small-img-roll { transition: all 0.5s ease 0s; min-width: 605px; }
.LoXMC .pf-p-image-small-container .pf-small-img-roll::after { display: block; content: ""; clear: both; }
.LoXMC .pf-p-image-small-container .pf-small-img-roll .sc-cBrjTV { width: 103px; height: 111px; float: left; }
.LoXMC .pf-p-image-small-container .pf-small-img-roll .sc-cBrjTV img { width: 100%; height: 100%; object-fit: cover; cursor: pointer; border-radius: 2px; border: 1px solid rgb(209, 213, 219); }
.LoXMC .pf-p-image-small-container div { position: relative; }
@media (max-width: 991px) {
  .LoXMC { display: none; }
}
.eDJtrw[data-pf-type="ProductText"].no-product { text-decoration: none; }
.aouaC[data-pf-type="ProductText"].no-product { text-decoration: none; }
.bCDcjA { color: rgb(0, 108, 229); cursor: pointer; }
.bCDcjA > span { vertical-align: middle; line-height: inherit; display: inline-block; max-width: 100%; }
.bCDcjA.pf-i--left i { margin-right: 0.3em; }
.bCDcjA + .sc-cqPOvA, .bCDcjA.pf-i--right i { margin-left: 0.3em; }
						/* PageFly Styles */
						
@media all {
	.__pf .pf-41e3c5df {
		color: rgba(34, 25, 77, 0);
	}
	.__pf .pf-684d45db {
		text-align: right;
		 color: rgb(34, 25, 77);
	}
	.__pf .pf-844e7056 {
		padding-top: 0px;
		 padding-bottom: 0px;
		 position: absolute;
		 width: 100%;
		 z-index: 999999;
	}
	.__pf .pf-2abcbbe8 {
		width: 450px;
		 height: auto;
	}
	.__pf .pf-6ea01afa {
		text-align: center;
		 margin-top: 125px;
	}
	.__pf .pf-f047b7d5 {
		font-size: 20px;
		 text-align: center;
	}
	.__pf .pf-ae17d735 {
		font-size: 37px;
	}
	.__pf .pf-ed5b33f6 {
		width: 450px;
		 height: auto;
	}
	.__pf .pf-d66b2a63 {
		text-align: center;
	}
	.__pf .pf-0ff82297 {
		text-align: center;
	}
	.__pf .pf-b640b7ce {
		text-align: center;
		 font-size: 70px;
		 color: rgb(0, 0, 0);
		 margin-top: 170px;
	}
	.__pf .pf-4ad54f5a {
		width: 800px;
	}
	.__pf .pf-e7f772de {
		text-align: center;
		 font-size: 61px;
		 color: rgb(0, 0, 0);
		 margin-top: 80px;
	}
	.__pf .pf-75353e6c picture {
		height: 571px;
	}
	.__pf .pf-eb7d0eb3 {
		font-size: 28px;
		 margin-top: 75px;
		 margin-bottom: 15px;
	}
	.__pf .pf-5e014e9a {
		font-size: 28px;
		 margin-bottom: 15px;
	}
	.__pf .pf-5ae55ef6 {
		font-size: 16px;
		 line-height: 19px;
		 margin-bottom: 15px;
	}
}
@media only screen and (max-width: 767px) {
	.__pf .pf-4a2a8143 {
		display: flex;
		 flex-flow: row nowrap;
		 align-items: center;
		 align-content: center;
	}
	.__pf .pf-844e7056 {
		padding-left: 5px;
		 padding-right: 5px;
	}
	.__pf .pf-6ea01afa {
		margin-top: 0px;
		 font-size: 25px;
	}
	.__pf .pf-b640b7ce {
		font-size: 50px;
		 margin-top: 15px;
	}
	.__pf .pf-e7f772de {
		font-size: 50px;
		 margin-top: 15px;
	}
	.__pf .pf-eb7d0eb3 {
		margin-top: 0px;
	}
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
	.__pf .pf-6ea01afa {
		margin-top: 28px;
		 font-size: 25px;
	}
	.__pf .pf-b640b7ce {
		font-size: 40px;
		 margin-top: 200px;
	}
	.__pf .pf-e7f772de {
		font-size: 40px;
		 margin-top: 125px;
	}
	.__pf .pf-eb7d0eb3 {
		margin-top: 50px;
	}
}
						/* Extra CSS for lazy loading background image */
						.pf-bg-lazy { background-image: none !important; }