/* PageFly Element Styles */
						.hsMvSR__parallax { position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden; pointer-events: none; }
.hsMvSR { padding: 15px 0px; position: relative; }
.hsMvSR .sc-eKZiaR { position: relative; }
.hsMvSR[data-container="true"] .sc-eKZiaR { padding: 0px 15px; width: 100%; margin: auto; }
.hsMvSR .pf-parallax__img { text-indent: -10000px; position: absolute; object-fit: cover; top: 0px; left: 0px; width: 100%; height: 100%; }
.eFjulw { margin: 0 calc(-1 * var(--pf-s-lg)); }
@media (max-width: 1199px) and (min-width: 992px) {
  .eFjulw { margin: 0 calc(-1 * var(--pf-s-md)); }
}
@media (max-width: 991px) and (min-width: 768px) {
  .eFjulw { margin: 0 calc(-1 * var(--pf-s-sm)); }
}
@media (max-width: 767px) {
  .eFjulw { margin: 0 calc(-1 * var(--pf-s-xs)); }
}
.elofQi { padding: var(--pf-s-lg); }
@media (max-width: 1199px) and (min-width: 992px) {
  .elofQi { padding: var(--pf-s-md); }
}
@media (max-width: 991px) and (min-width: 768px) {
  .elofQi { padding: var(--pf-s-sm); }
}
@media (max-width: 767px) {
  .elofQi { padding: var(--pf-s-xs); }
}
.dgFwhv { position: relative; }
.fbDPVD { word-break: break-word; }
.fbDPVD span { font-weight: inherit; }
.fbDPVD i { margin-right: 0.3em; }
.iSYQTX { display: inline-block; }
.iSYQTX[contenteditable="true"] { user-select: text; }
.iSYQTX { vertical-align: baseline; word-break: break-word; }
.iSYQTX:focus { outline: none; }
.iSYQTX::after { display: inline; }
.kWaRSX > span:last-child { line-height: inherit; display: block; }
#editor-dnd-wrapper .kWaRSX[class*="dropcap--"]:not(.dropcap--none) > span:last-child[contenteditable] { display: block; }
#editor-dnd-wrapper .kWaRSX[class*="dropcap--"]:not(.dropcap--none) > span:last-child[contenteditable]:empty::after { display: inline; }
.kWaRSX[class*="dropcap--"] > span:first-child { display: block; margin-right: 10px; float: left; width: 50px; height: 50px; line-height: 50px; }
.kWaRSX[class*="dropcap--"]:not(.dropcap--none) > span:first-child { margin-right: 20px; text-align: center; }
.kWaRSX.dropcap--none > span:first-child { text-align: inherit; border-radius: 0px; line-height: 1 !important; width: auto !important; height: auto !important; background: none !important; }
.kWaRSX.dropcap--circle > span:first-child { border-radius: 100%; }
.kWaRSX:not([class*="dropcap--"]) > span { margin-right: 0px !important; }
.kWaRSX ol, .kWaRSX ul { list-style-position: inside; }
.kWaRSX blockquote { font-size: inherit; }
.jlxxwn { position: relative; display: inline-flex; width: 100%; flex-direction: column; overflow: hidden; }
.jlxxwn .sc-iIHSe { position: relative; display: flex; flex: 1 1 auto; }
.jlxxwn.pf-show-arrow .sc-hgRTRy { opacity: 1; }
.jlxxwn.pf-show-arrow .sc-hgRTRy.prev-arrow { left: 16px; }
.jlxxwn.pf-show-arrow .sc-hgRTRy.next-arrow { right: 16px; }
@media (max-width: 767px) {
}
@media (max-width: 991px) and (min-width: 768px) {
}
@media (max-width: 1199px) and (min-width: 992px) {
  .jlxxwn .sc-feryYK { display: none; }
}
@media (min-width: 1200px) {
  .jlxxwn .sc-feryYK { display: none; }
}
.bCKYDH { position: relative; display: inline-flex; width: 100%; flex-direction: column; overflow: hidden; }
.bCKYDH .sc-iIHSe { position: relative; display: flex; flex: 1 1 auto; }
.bCKYDH.pf-show-arrow .sc-hgRTRy { opacity: 1; }
.bCKYDH.pf-show-arrow .sc-hgRTRy.prev-arrow { left: 16px; }
.bCKYDH.pf-show-arrow .sc-hgRTRy.next-arrow { right: 16px; }
@media (max-width: 767px) {
}
@media (max-width: 991px) and (min-width: 768px) {
}
@media (max-width: 1199px) and (min-width: 992px) {
  .bCKYDH .sc-feryYK { display: none; }
}
@media (min-width: 1200px) {
}
@media (min-width: 992px) {
  .iJuTxz .sc-hgRTRy { display: none; }
}
.iJuTxz .sc-hgRTRy { transition: all 0.3s ease 0s; opacity: 1; }
.iJuTxz .sc-hgRTRy.prev-arrow { left: 16px; top: calc(50% - 16px); }
.iJuTxz .sc-hgRTRy.next-arrow { right: 16px; top: calc(50% - 16px); }
.iJuTxz .sc-hgRTRy i.fa { color: rgb(93, 107, 130); transform: none; }
.iJuTxz .sc-hgRTRy { transition: all 0.3s ease 0s; opacity: 0; }
.iJuTxz .sc-hgRTRy.prev-arrow { left: -100%; top: calc(50% - 16px); }
.iJuTxz .sc-hgRTRy.next-arrow { right: -100%; top: calc(50% - 16px); }
.iJuTxz .sc-hgRTRy i.fa { transform: none; }
.iJuTxz:hover .sc-hgRTRy { opacity: 1; }
.iJuTxz:hover .sc-hgRTRy.prev-arrow { left: 16px; }
.iJuTxz:hover .sc-hgRTRy.next-arrow { right: 16px; }
.PXQJN { position: absolute; z-index: 1; width: 32px; height: 32px; line-height: 34px; text-align: center; cursor: pointer; background: rgba(255, 255, 255, 0.35); border-radius: 2px; opacity: 0; }
.PXQJN.prev-arrow { left: 16px; top: calc(50% - 16px); }
.PXQJN.next-arrow { right: 16px; top: calc(50% - 16px); }
.PXQJN i.fa { font-size: 20px; color: rgb(93, 107, 130); }
.PXQJN.pf-show-nav { opacity: 1; }
.hpejQW { position: relative; vertical-align: middle; width: 100%; height: 450px; display: var(--pf-d-lg); }
@media (max-width: 1199px) and (min-width: 992px) {
  .hpejQW { display: var(--pf-d-md); }
}
@media (max-width: 991px) and (min-width: 768px) {
  .hpejQW { display: var(--pf-d-sm); }
}
@media (max-width: 767px) {
  .hpejQW { display: var(--pf-d-xs); }
}
.hpejQW img { border-radius: 4px; object-fit: contain; width: 100%; }
.hpejQW a { position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; }
@media (max-width: 991px) {
  .hpejQW { margin: 0px; }
}
.emotvo { position: relative; display: flex; margin-top: 10px; }
.emotvo .icon-left { transform: rotate(180deg); }
.emotvo .icon-right { right: 0px; }
.emotvo .icon-left:hover, .emotvo .icon-right:hover { opacity: 0.5; }
.emotvo .pf-p-image-small-container { width: 100%; overflow: hidden; position: relative; }
.emotvo .pf-p-image-small-container .pf-small-img-roll { transition: all 0.5s ease 0s; min-width: 605px; }
.emotvo .pf-p-image-small-container .pf-small-img-roll::after { display: block; content: ""; clear: both; }
.emotvo .pf-p-image-small-container .pf-small-img-roll .sc-iiUIRa { width: 103px; height: 111px; float: left; }
.emotvo .pf-p-image-small-container .pf-small-img-roll .sc-iiUIRa img { width: 100%; height: 100%; object-fit: cover; cursor: pointer; border-radius: 2px; border: 1px solid rgb(209, 213, 219); }
.emotvo .pf-p-image-small-container div { position: relative; }
@media (max-width: 991px) {
  .emotvo { display: none; }
}
.fojluQ[data-pf-type="ProductText"].no-product { text-decoration: none; }
.cysUUv[data-pf-type="ProductText"].no-product { text-decoration: none; }
.KnWvn { color: rgb(0, 108, 229); cursor: pointer; }
.KnWvn > span { vertical-align: middle; line-height: inherit; display: inline-block; max-width: 100%; }
.KnWvn.pf-i--left i { margin-right: 0.3em; }
.KnWvn + .sc-jqIZGH, .KnWvn.pf-i--right i { margin-left: 0.3em; }
						/* PageFly Styles */
						
@media all {
	.__pf .pf-b830eb51 {
		text-align: center;
		 font-size: 30px;
	}
	.__pf .pf-29f5c81b {
		text-align: center;
	}
	.__pf .pf-b1c24a78 picture {
		height: 512px;
	}
	.__pf .pf-dff702e4 {
		font-size: 28px;
		 margin-top: 0px;
		 margin-bottom: 15px;
		 padding-top: 80px;
	}
	.__pf .pf-07f2fd54 {
		font-size: 28px;
		 margin-bottom: 15px;
	}
	.__pf .pf-506410c2 {
		font-size: 16px;
		 line-height: 19px;
		 margin-bottom: 15px;
	}
	.__pf .pf-22b9ea9e {
		font-size: 15px;
	}
	.__pf .pf-ee94896f picture {
		height: 512px;
	}
	.__pf .pf-0bcbb617 {
		font-size: 28px;
		 margin-top: 0px;
		 margin-bottom: 15px;
		 padding-top: 80px;
	}
	.__pf .pf-2d92a4e8 {
		font-size: 28px;
		 margin-bottom: 15px;
	}
	.__pf .pf-9257325f {
		font-size: 16px;
		 line-height: 19px;
		 margin-bottom: 15px;
	}
	.__pf .pf-77ef95fb {
		font-size: 15px;
	}
	.__pf .pf-275250b7 picture {
		height: 512px;
	}
	.__pf .pf-b28ae638 {
		font-size: 28px;
		 margin-top: 0px;
		 margin-bottom: 15px;
		 padding-top: 80px;
	}
	.__pf .pf-b740d606 {
		font-size: 28px;
		 margin-bottom: 15px;
	}
	.__pf .pf-2b7620ad {
		font-size: 16px;
		 line-height: 19px;
		 margin-bottom: 15px;
	}
	.__pf .pf-35c2ccb4 {
		font-size: 15px;
	}
}
@media only screen and (max-width: 767px) {
	.__pf .pf-dff702e4 {
		padding-top: 5px;
	}
	.__pf .pf-0bcbb617 {
		padding-top: 5px;
	}
	.__pf .pf-b28ae638 {
		padding-top: 5px;
	}
}
						/* Extra CSS for lazy loading background image */
						.pf-bg-lazy { background-image: none !important; }