{% section 'collection-template' %}
{% section 'recently-viewed-products' %}
{% section 'collection-footer' %}
{% section 'swatch-settings' %}
<style
  .Header__Icon .Icon--search, .Header__Icon .Icon--search-desktop {
    width: 30px;
    height: 35px;
    color: black;
    stroke-width: 5px;
    position: relative;
    top: 2px;