
{% section 'collection-footer' %}
{% section 'swatch-settings' %}
}
{% section 'slideshow' %}
 	max-width: 100%;
    padding: 0;
}
  <div class="PageContent PageContent--narrow Rte">
    {{ page.content }}
  </div>
</div>
{%- if template == 'index' or template == 'page.custom' and section.settings.enable_transparent_header -%}
  {%- assign use_transparent_header = true -%}
{%- endif -%}
{%- if use_transparent_header -%}
    :root {
      --header-is-not-transparent: 0;
      --header-is-transparent: 1;
    }

    .shopify-section--header {
      margin-bottom: calc(-1 * var(--header-height));
    }

    .supports-sticky .Header--transparent {
      {%- if section.settings.show_transparent_header_border -%}
        box-shadow: 0 -1px {{ section.settings.transparent_text_color | color_modify: 'alpha', 0.25 }} inset;
      {%- else -%}
        box-shadow: none;
      {%- endif -%}

      color: {{ section.settings.transparent_text_color }};
    }
  {%- else -%}
    :root {
      --header-is-not-transparent: 1;
      --header-is-transparent: 0;
     }
  {%- endif -%}