<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:400|Oswald:400|Roboto:400&display=swap"><link rel="stylesheet" href="https://cdn.pagefly.io/pagefly/2.11.1/css/main-style.css?t=20200527150554"><style>/* PageFly Element Styles */
						.jakOsZ { display: inline-block; vertical-align: middle; }
.jakOsZ img { width: 100%; border-radius: inherit; }
.jklmHY { padding: var(--pf-s-lg); }
@media (max-width: 1199px) and (min-width: 992px) {
  .jklmHY { padding: var(--pf-s-md); }
}
@media (max-width: 991px) and (min-width: 768px) {
  .jklmHY { padding: var(--pf-s-sm); }
}
@media (max-width: 767px) {
  .jklmHY { padding: var(--pf-s-xs); }
}
.fTyjzF { position: relative; }
.eYzxUD { margin: 0 calc(-1 * var(--pf-s-lg)); }
@media (max-width: 1199px) and (min-width: 992px) {
  .eYzxUD { margin: 0 calc(-1 * var(--pf-s-md)); }
}
@media (max-width: 991px) and (min-width: 768px) {
  .eYzxUD { margin: 0 calc(-1 * var(--pf-s-sm)); }
}
@media (max-width: 767px) {
  .eYzxUD { margin: 0 calc(-1 * var(--pf-s-xs)); }
}
.bjKdkd__parallax { position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden; pointer-events: none; }
.bjKdkd { padding: 15px 0px; position: relative; }
						/* PageFly Styles */
						
						</style><style></style><div class="__pf" id="__pf"><div data-pf-type="Body" class="sc-pRgDJ fzXWJx pf-f7d516b5"><div data-pf-type="Layout" class="pf-7915f7d5"><div data-container="true" class="sc-pZopv bjKdkd pf-c15fa967" data-pf-type="Section"><div class="sc-pQQXS iWCqut" style="max-width: 1170px;"><div class="sc-qPjXN eYzxUD pf-28ec538d pf-r pf-r-eh" data-pf-type="Row" style="--pf-s-lg:15px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12"><div class="sc-pkUyL fTyjzF pf-e93d28ec" data-pf-type="Column"><img sizes="(min-width: 992px) 1200px, (min-width: 768px) and (max-width: 991px) 800px, 400px" srcset="https://cdn.shopify.com/s/files/1/0201/3874/t/115/assets/pf-ec538d3b--summer-2020-campaign-banner.png?v=1590608177 1200w, https://cdn.shopify.com/s/files/1/0201/3874/t/115/assets/pf-ec538d3b--summer-2020-campaign-banner_800x256.png?v=1590608177&resized 800w, https://cdn.shopify.com/s/files/1/0201/3874/t/115/assets/pf-ec538d3b--summer-2020-campaign-banner_400x128.png?v=1590608177&resized 400w" class="sc-qZtVr dLIPjF pf-a967e93d" data-pf-type="Image2"></div></div></div></div></div><div data-container="true" class="sc-pZopv bjKdkd pf-00c9b00c" data-pf-type="Section"><div class="sc-pQQXS iWCqut" style="max-width: 1170px;"><div class="sc-qPjXN eYzxUD pf-7adb00c9 pf-r pf-r-eh" data-pf-type="Row" style="--pf-s-lg:15px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--6 pf-c-md--6 pf-c-lg--6"><div class="sc-pkUyL fTyjzF pf-8d3b381c" data-pf-type="Column"><a data-action="url" href="/products/sheradin-dress" target="_self" data-pf-type="Image2" class="sc-pzLqt jakOsZ pf-b00c5864"><img sizes="(min-width: 992px) 1200px, (min-width: 768px) and (max-width: 991px) 800px, 400px" srcset="https://cdn.shopify.com/s/files/1/0201/3874/t/115/assets/pf-64fb3800--ss2020-2.png?v=1590608221 1200w, https://cdn.shopify.com/s/files/1/0201/3874/t/115/assets/pf-64fb3800--ss2020-2_800x960.png?v=1590608221&resized 800w, https://cdn.shopify.com/s/files/1/0201/3874/t/115/assets/pf-64fb3800--ss2020-2_400x480.png?v=1590608221&resized 400w" class="sc-qZtVr dLIPjF"></a></div></div><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--6 pf-c-md--6 pf-c-lg--6"><div class="sc-pkUyL fTyjzF pf-381c7adb" data-pf-type="Column"><a data-action="url" href="/products/aveline-dress" target="_self" data-pf-type="Image2" class="sc-pzLqt jakOsZ pf-5864fb38"><img sizes="(min-width: 992px) 1200px, (min-width: 768px) and (max-width: 991px) 800px, 400px" srcset="https://cdn.shopify.com/s/files/1/0201/3874/t/115/assets/pf-fb380023--ss2020-1.png?v=1590608235 1200w, https://cdn.shopify.com/s/files/1/0201/3874/t/115/assets/pf-fb380023--ss2020-1_800x960.png?v=1590608235&resized 800w, https://cdn.shopify.com/s/files/1/0201/3874/t/115/assets/pf-fb380023--ss2020-1_400x480.png?v=1590608235&resized 400w" class="sc-qZtVr dLIPjF"></a></div></div></div><div class="sc-qPjXN eYzxUD pf-c2044c50 pf-r pf-r-eh" data-pf-type="Row" style="--pf-s-lg:15px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--4 pf-c-md--4 pf-c-lg--4"><div class="sc-pkUyL fTyjzF pf-0023a5cf" data-pf-type="Column"><a data-action="url" href="/products/harmony-dress" target="_self" data-pf-type="Image2" class="sc-pzLqt jakOsZ pf-4c50c779"><img sizes="(min-width: 992px) 1200px, (min-width: 768px) and (max-width: 991px) 800px, 400px" srcset="https://cdn.shopify.com/s/files/1/0201/3874/t/115/assets/pf-21f81303--ss2020-4.png?v=1590608269 1200w, https://cdn.shopify.com/s/files/1/0201/3874/t/115/assets/pf-21f81303--ss2020-4.png?v=1590608269 800w, https://cdn.shopify.com/s/files/1/0201/3874/t/115/assets/pf-21f81303--ss2020-4_400x600.png?v=1590608269&resized 400w" class="sc-qZtVr dLIPjF"></a></div></div><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--4 pf-c-md--4 pf-c-lg--4"><div class="sc-pkUyL fTyjzF pf-a5cf6e1f" data-pf-type="Column"><a data-action="url" href="/products/fashion-face-mask" target="_self" data-pf-type="Image2" class="sc-pzLqt jakOsZ pf-c7793b21"><img sizes="(min-width: 992px) 1200px, (min-width: 768px) and (max-width: 991px) 800px, 400px" srcset="https://cdn.shopify.com/s/files/1/0201/3874/t/115/assets/pf-f8130394--ss2020-3.png?v=1590608282 1200w, https://cdn.shopify.com/s/files/1/0201/3874/t/115/assets/pf-f8130394--ss2020-3.png?v=1590608282 800w, https://cdn.shopify.com/s/files/1/0201/3874/t/115/assets/pf-f8130394--ss2020-3_400x600.png?v=1590608282&resized 400w" class="sc-qZtVr dLIPjF"></a></div></div><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--4 pf-c-md--4 pf-c-lg--4"><div class="sc-pkUyL fTyjzF pf-6e1fc204" data-pf-type="Column"><a data-action="url" href="/products/ace-romper-in-peaches" target="_self" data-pf-type="Image2" class="sc-pzLqt jakOsZ pf-3b21f813"><img sizes="(min-width: 992px) 1200px, (min-width: 768px) and (max-width: 991px) 800px, 400px" srcset="https://cdn.shopify.com/s/files/1/0201/3874/t/115/assets/pf-130394c4--ss2020-5.png?v=1590608296 1200w, https://cdn.shopify.com/s/files/1/0201/3874/t/115/assets/pf-130394c4--ss2020-5.png?v=1590608296 800w, https://cdn.shopify.com/s/files/1/0201/3874/t/115/assets/pf-130394c4--ss2020-5_400x600.png?v=1590608296&resized 400w" class="sc-qZtVr dLIPjF"></a></div></div></div></div></div><div data-container="true" class="sc-pZopv bjKdkd pf-bcbab3bb" data-pf-type="Section"><div class="sc-pQQXS iWCqut" style="max-width: 1170px;"><div class="sc-qPjXN eYzxUD pf-b8b2bcba pf-r pf-r-eh" data-pf-type="Row" style="--pf-s-lg:15px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--6 pf-c-md--6 pf-c-lg--6"><div class="sc-pkUyL fTyjzF pf-94c45b79" data-pf-type="Column"><a data-action="url" href="/products/encore-dress" target="_self" data-pf-type="Image2" class="sc-pzLqt jakOsZ pf-b3bb2115"><img sizes="(min-width: 992px) 1200px, (min-width: 768px) and (max-width: 991px) 800px, 400px" srcset="https://cdn.shopify.com/s/files/1/0201/3874/t/115/assets/pf-15ebcde1--ss2020-6.jpg?v=1590608332 1200w, https://cdn.shopify.com/s/files/1/0201/3874/t/115/assets/pf-15ebcde1--ss2020-6_800x960.jpg?v=1590608332&resized 800w, https://cdn.shopify.com/s/files/1/0201/3874/t/115/assets/pf-15ebcde1--ss2020-6_400x480.jpg?v=1590608332&resized 400w" class="sc-qZtVr dLIPjF"></a></div></div><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--6 pf-c-md--6 pf-c-lg--6"><div class="sc-pkUyL fTyjzF pf-5b79b8b2" data-pf-type="Column"><a data-action="url" href="/products/colbie-silk-top" target="_self" data-pf-type="Image2" class="sc-pzLqt jakOsZ pf-2115ebcd"><img sizes="(min-width: 992px) 1200px, (min-width: 768px) and (max-width: 991px) 800px, 400px" srcset="https://cdn.shopify.com/s/files/1/0201/3874/t/115/assets/pf-ebcde1a6--ss2020-11.png?v=1590608349 1200w, https://cdn.shopify.com/s/files/1/0201/3874/t/115/assets/pf-ebcde1a6--ss2020-11_800x960.png?v=1590608349&resized 800w, https://cdn.shopify.com/s/files/1/0201/3874/t/115/assets/pf-ebcde1a6--ss2020-11_400x480.png?v=1590608349&resized 400w" class="sc-qZtVr dLIPjF"></a></div></div></div></div></div><div data-container="true" class="sc-pZopv bjKdkd pf-bd3f9061" data-pf-type="Section"><div class="sc-pQQXS iWCqut" style="max-width: 1170px;"><div class="sc-qPjXN eYzxUD pf-7d1fbd3f pf-r pf-r-eh" data-pf-type="Row" style="--pf-s-lg:15px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--4 pf-c-md--4 pf-c-lg--4"><div class="sc-pkUyL fTyjzF pf-2637610d" data-pf-type="Column"><a data-action="url" href="/products/sicily-dress" target="_self" data-pf-type="Image2" class="sc-pzLqt jakOsZ pf-90619b20"><img sizes="(min-width: 992px) 1200px, (min-width: 768px) and (max-width: 991px) 800px, 400px" srcset="https://cdn.shopify.com/s/files/1/0201/3874/t/115/assets/pf-6174e550--ss2020-7.jpg?v=1590608390 1200w, https://cdn.shopify.com/s/files/1/0201/3874/t/115/assets/pf-6174e550--ss2020-7.jpg?v=1590608390 800w, https://cdn.shopify.com/s/files/1/0201/3874/t/115/assets/pf-6174e550--ss2020-7_400x600.jpg?v=1590608390&resized 400w" class="sc-qZtVr dLIPjF"></a></div></div><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--4 pf-c-md--4 pf-c-lg--4"><div class="sc-pkUyL fTyjzF pf-610d99b9" data-pf-type="Column"><a data-action="url" href="/products/janet-dress" target="_self" data-pf-type="Image2" class="sc-pzLqt jakOsZ pf-9b209761"><img sizes="(min-width: 992px) 1200px, (min-width: 768px) and (max-width: 991px) 800px, 400px" srcset="https://cdn.shopify.com/s/files/1/0201/3874/t/115/assets/pf-74e5504f--ss2020-8.png?v=1590608403 1200w, https://cdn.shopify.com/s/files/1/0201/3874/t/115/assets/pf-74e5504f--ss2020-8.png?v=1590608403 800w, https://cdn.shopify.com/s/files/1/0201/3874/t/115/assets/pf-74e5504f--ss2020-8_400x600.png?v=1590608403&resized 400w" class="sc-qZtVr dLIPjF"></a></div></div><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--4 pf-c-md--4 pf-c-lg--4"><div class="sc-pkUyL fTyjzF pf-99b97d1f" data-pf-type="Column"><a data-action="url" href="/products/norma-dress" target="_self" data-pf-type="Image2" class="sc-pzLqt jakOsZ pf-976174e5"><img sizes="(min-width: 992px) 1200px, (min-width: 768px) and (max-width: 991px) 800px, 400px" srcset="https://cdn.shopify.com/s/files/1/0201/3874/t/115/assets/pf-e5504fb6--ss2020-9.png?v=1590608416 1200w, https://cdn.shopify.com/s/files/1/0201/3874/t/115/assets/pf-e5504fb6--ss2020-9.png?v=1590608416 800w, https://cdn.shopify.com/s/files/1/0201/3874/t/115/assets/pf-e5504fb6--ss2020-9_400x600.png?v=1590608416&resized 400w" class="sc-qZtVr dLIPjF"></a></div></div></div><div class="sc-qPjXN eYzxUD pf-d2e18a7c pf-r pf-r-eh" data-pf-type="Row" style="--pf-s-lg:15px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--6 pf-c-md--6 pf-c-lg--6"><div class="sc-pkUyL fTyjzF pf-4fb65daa" data-pf-type="Column"><a data-action="url" href="/products/ali-top" target="_self" data-pf-type="Image2" class="sc-pzLqt jakOsZ pf-8a7c2bd2"><img sizes="(min-width: 992px) 1200px, (min-width: 768px) and (max-width: 991px) 800px, 400px" srcset="https://cdn.shopify.com/s/files/1/0201/3874/t/115/assets/pf-d2c3b05e--ss2020-10.png?v=1590608446 1200w, https://cdn.shopify.com/s/files/1/0201/3874/t/115/assets/pf-d2c3b05e--ss2020-10_800x960.png?v=1590608446&resized 800w, https://cdn.shopify.com/s/files/1/0201/3874/t/115/assets/pf-d2c3b05e--ss2020-10_400x480.png?v=1590608446&resized 400w" class="sc-qZtVr dLIPjF"></a></div></div><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--6 pf-c-md--6 pf-c-lg--6"><div class="sc-pkUyL fTyjzF pf-5daad2e1" data-pf-type="Column"><a data-action="url" href="/products/sleeveless-samira-dress" target="_self" data-pf-type="Image2" class="sc-pzLqt jakOsZ pf-2bd2c3b0"><img sizes="(min-width: 992px) 1200px, (min-width: 768px) and (max-width: 991px) 800px, 400px" srcset="https://cdn.shopify.com/s/files/1/0201/3874/t/115/assets/pf-c3b05e38--ss2020-12.png?v=1590608461 1200w, https://cdn.shopify.com/s/files/1/0201/3874/t/115/assets/pf-c3b05e38--ss2020-12_800x960.png?v=1590608461&resized 800w, https://cdn.shopify.com/s/files/1/0201/3874/t/115/assets/pf-c3b05e38--ss2020-12_400x480.png?v=1590608461&resized 400w" class="sc-qZtVr dLIPjF"></a></div></div></div></div></div></div></div></div><script>
					window.__pagefly_setting__={"baseURL":"https://apps.pagefly.io","analyticsURL":"https://analytics.pagefly.io","isBackend":false,"cdnURL":"https://cdn.pagefly.io","pageflyVersion":"2.11.1","shopDomain":"amanda-uprichard.myshopify.com","elementData":{},"pageTitle":"Summer 2020 Campaign","pageType":"page","pageId":"48e42f0a-d7c6-4668-b5d1-f4306cdfec98","lazyLoad":false,"imageLazyLoad":false,"nativeImageLazyLoad":true,"trackingIDs":[]};
					window.__pagefly_setting__.moneyFormat = {{shop.money_format | json}}
				</script><script src="https://cdn.pagefly.io/pagefly/2.11.1/core/helper.js?t=20200527150554" defer></script>