<div class="Container">
<!--  <header class="PageHeader">
    <div class="SectionHeader SectionHeader--center">
      <h1 class="SectionHeader__Heading Heading u-h1">{{ page.title }}</h1>
    </div>
  </header>
-->
</div>
    {{ page.content }}

<style>.fs-detail-content img[aria-hidden=true] { display: none }</style>