<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:400|Oswald:400|Roboto:400&display=swap"><link rel="stylesheet" href="https://cdn.pagefly.io/pagefly/2.9.3/css/main-style.css?t=20200415170407"><link rel="stylesheet" href="{{ 'pagefly.ee935055.css' | asset_url }}">
		  {% if product_4446783012912 == null %}{%- assign product_4446783012912 = all_products['rosen-top'] -%}{% endif %}<script>
	window.__pageflyProducts = window.__pageflyProducts || {};
	window.__pageflyProducts["4446783012912"] = {
					id: {{product_4446783012912.id | json }},
					handle: {{product_4446783012912.handle | json }},
					title: {{product_4446783012912.title | json }},
					type: {{product_4446783012912.type | json }},
					url: {{product_4446783012912.url | json }},
					vendor: {{product_4446783012912.vendor | json }},
					variants: {{product_4446783012912.variants | json }},
					options: {{product_4446783012912.options | json }},
					media: {{product_4446783012912.media | json }},
					first_available_variant: {{product_4446783012912.first_available_variant | json }},
					has_only_default_variant: {{product_4446783012912.has_only_default_variant | json }},
					options_with_values: {{product_4446783012912.options_with_values | json }},
					selected_variant: {{product_4446783012912.selected_variant | json }},
					selected_or_first_available_variant: {{product_4446783012912.selected_or_first_available_variant | json }},
					tags: {{product_4446783012912.tags | json }},
					template_suffix: {{product_4446783012912.template_suffix | json }},
					featured_image: {{product_4446783012912.featured_image | json }},
					featured_media: {{product_4446783012912.featured_media | json }},
					images: {{product_4446783012912.images | json }}
				};window.__pageflyProducts["{{product.id}}"] = {
					id: {{product.id | json }},
					handle: {{product.handle | json }},
					title: {{product.title | json }},
					type: {{product.type | json }},
					url: {{product.url | json }},
					vendor: {{product.vendor | json }},
					variants: {{product.variants | json }},
					options: {{product.options | json }},
					media: {{product.media | json }},
					first_available_variant: {{product.first_available_variant | json }},
					has_only_default_variant: {{product.has_only_default_variant | json }},
					options_with_values: {{product.options_with_values | json }},
					selected_variant: {{product.selected_variant | json }},
					selected_or_first_available_variant: {{product.selected_or_first_available_variant | json }},
					tags: {{product.tags | json }},
					template_suffix: {{product.template_suffix | json }},
					featured_image: {{product.featured_image | json }},
					featured_media: {{product.featured_media | json }},
					images: {{product.images | json }}
				};
	</script><div class="__pf" id="__pf"><div data-pf-type="Body" class="sc-pRgDJ fzXWJx pf-8b49c794"><div data-pf-type="Layout" class="pf-7fdd8b49"><div data-container="true" class="sc-pZopv bjKdkd pf-1cf06695" data-pf-type="Section"><div class="sc-pQQXS iWCqut" style="max-width: 1170px;"><div class="sc-qPjXN eYzxUD pf-2b1f2f76 pf-r pf-r-eh" data-pf-type="Row" style="--pf-s-lg:15px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12"><div class="sc-pkUyL fTyjzF pf-c85c2b1f" data-pf-type="Column"><h3 data-pf-type="Heading" class="sc-oTLFK lcHmGL pf-9a8dc85c"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-deb39a8d">Cooking with the AU Team: How to Make Sushi Naruto Rolls</span></h3></div></div></div></div></div><div data-container="true" class="sc-pZopv bjKdkd pf-2f76fe90" data-pf-type="Section"><div class="sc-pQQXS iWCqut" style="max-width: 1170px;"><div class="sc-qPjXN eYzxUD pf-f3d967a0 pf-r pf-r-eh" data-pf-type="Row" style="--pf-s-lg:15px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12"><div class="sc-pkUyL fTyjzF pf-7dbcf3d9" data-pf-type="Column"><p data-pf-type="Paragraph2" class="sc-pkvvt cbrLgP pf-59fc7dbc"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-979a59fc">With all the this new free time, our Ecommerce Site Manager, Maddie, has been spending a lot of time in the kitchen. Following along to see how she made Naruto Rolls at home!</span></p></div></div></div></div></div><div data-container="true" class="sc-pZopv bjKdkd pf-67a00178" data-pf-type="Section"><div class="sc-pQQXS iWCqut" style="max-width: 1170px;"><div class="sc-qPjXN eYzxUD pf-395471a0 pf-r pf-r-eh" data-pf-type="Row" style="--pf-s-lg:15px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12"><div class="sc-pkUyL fTyjzF pf-e3cd3954" data-pf-type="Column"><div data-pf-type="Youtube2" class="sc-pYcnE kSkqbf pf-0178e3cd"><div style="position: relative; padding-bottom: 56.25%;"><iframe class="pf-ifr" src="https://www.youtube.com/embed/G6mYT4ZEdzA?autoplay=0&loop=0&mute=0&controls=0&enablejsapi=1" frameborder="0" allowfullscreen="" width="100%" height="100%" allow="autoplay" title="yt-video"></iframe></div></div></div></div></div></div></div><div data-container="true" class="sc-pZopv bjKdkd pf-676b6a34" data-pf-type="Section"><div class="sc-pQQXS iWCqut" style="max-width: 1170px;"><div class="sc-qPjXN eYzxUD pf-6738676b pf-r pf-r-eh" data-pf-type="Row" style="--pf-s-lg:15px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--6 pf-c-md--6 pf-c-lg--6"><div class="sc-pkUyL fTyjzF pf-af05b7e4" data-pf-type="Column"><p data-pf-type="Paragraph2" class="sc-pkvvt cbrLgP pf-cb447749"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-89a7cb44"><br><br><br>Ingredients:<br><br>-Cucumber<br>-Sushi Grade Tuna<br>-Sushi Grade Salmon<br>-Avocado<br>-Soy Sauce (optional)<br>-Wasabi (optional)<br>-Ginger (optional)</span></p></div></div><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--6 pf-c-md--6 pf-c-lg--6"><div class="sc-pkUyL fTyjzF pf-b7e46738" data-pf-type="Column"><img sizes="(min-width: 992px) 1200px, (min-width: 768px) and (max-width: 991px) 800px, 400px" srcset="https://cdn.shopify.com/s/files/1/0201/3874/t/115/assets/pf-4fc4cdbc--sushi.jpg?v=1586985015 1200w, https://cdn.shopify.com/s/files/1/0201/3874/t/115/assets/pf-4fc4cdbc--sushi_800x953.jpg?v=1586985015&resized 800w, https://cdn.shopify.com/s/files/1/0201/3874/t/115/assets/pf-4fc4cdbc--sushi_400x477.jpg?v=1586985015&resized 400w" class="sc-qZtVr dLIPjF pf-77499b32" data-pf-type="Image2"></div></div></div></div></div><div data-container="true" class="sc-pZopv bjKdkd pf-cdbc24da" data-pf-type="Section"><div class="sc-pQQXS iWCqut" style="max-width: 1170px;"><div class="sc-qPjXN eYzxUD pf-900cc21f pf-r pf-r-eh" data-pf-type="Row" style="--pf-s-lg:15px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12"><div class="sc-pkUyL fTyjzF pf-83b5900c" data-pf-type="Column"><h3 data-pf-type="Heading" class="sc-oTLFK lcHmGL pf-e1ea83b5"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-3554e1ea">Shop Maddie's Look</span></h3></div></div></div></div></div><div data-container="true" class="sc-pZopv bjKdkd pf-c21f00e4" data-pf-type="Section"><div class="sc-pQQXS iWCqut" style="max-width: 1170px;"><div class="sc-qPjXN eYzxUD pf-9ac0a68e pf-r pf-r-eh" data-pf-type="Row" style="--pf-s-lg:15px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12"><div class="sc-pkUyL fTyjzF pf-8ec89ac0" data-pf-type="Column"><div data-product-id="4446783012912" data-default-variant="31740734111792" data-pf-type="ProductBox" class="sc-oTOtL gYNRye pf-ddc48ec8">{% assign defaultProduct = product %}{% assign product = product_4446783012912 %} {% form 'product', product, data-productid: product.id, class: "pf-product-form pf-form-2cddc48e" %}
   {% comment %}
     Automatically inserted by Shop Pay Installments theme updater
   {% endcomment %}
   {% unless settings.disable_autogenerated_payment_terms %}
     {{ form | payment_terms }}
   {% endunless %}<div class="sc-qPjXN eYzxUD pf-652cddc4 pf-r pf-r-eh" data-pf-type="Row" style="--pf-s-lg:15px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--6 pf-c-md--6 pf-c-lg--6"><div class="sc-pkUyL fTyjzF pf-ba6b1b14" data-pf-type="Column"><div data-product-id="{{ product.id }}" data-default-source="featured" data-pf-type="ProductImage" class="sc-qQZrP gBrOGl pf-00e46ba6">{% assign img_size = product.images.size %}<div class="sc-psbuI erPCE">{% if img_size > 1 %}<div class="sc-pjGtN ioSCNC pf-navigation-list-image prev-arrow"><i class="fa fa-angle-left"></i></div>{% endif %}<picture height="450px" spacing="10px" data-pf-type="MasterImage" data-magnifier="true" mode="view" class="sc-pzLIQ cnATpS" style="height: auto;"><img src="{{ product.featured_image | img_url: 'master' }}" alt="{{ product.featured_image.alt | escape }}" data-img-id="{{ product.featured_image.id }}" width="{{ product.featured_image.width }}" height="{{ product.featured_image.height }}"></picture>{% if img_size > 1 %}<div spacing="10px" class="sc-pjGtN ioSCNC pf-navigation-list-image next-arrow"><i class="fa fa-angle-right"></i></div>{% endif %}</div><div data-pf-type="ProductGallery" data-product-id="{{ product.id }}" height="450px" spacing="10px" class="sc-qZusK likqwf">{% if img_size > 5 %}<div class="sc-pjGtN ioSCNC pf-navigation-list-image prev-arrow"><i class="fa fa-angle-left"></i></div>{% endif %}<div class="pf-p-image-small-container"><div class="pf-small-img-roll" style="padding-top: 5px; margin: -5px;">	{% for image in product.images %} <div class="sc-pcjuG uJAsR" style="margin: 0px 5px;"><img src="{{ image.src | img_url: 'master' }}" class="pf-show-small-img" alt="{{ image.alt | escape }}" data-img-id="{{ image.id }}"></div>{% endfor %} </div></div>{% if img_size > 5 %}<div class="sc-pjGtN ioSCNC pf-navigation-list-image next-arrow"><i class="fa fa-angle-right"></i></div>{% endif %}</div></div></div></div><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--6 pf-c-md--6 pf-c-lg--6"><div class="sc-pkUyL fTyjzF pf-c183652c" data-pf-type="Column"><h3 data-product-type="title" data-product-id="{{ product.id }}" data-pf-type="ProductText" class="sc-psQTH ITnEo pf-6ba6c804">{{ product.title }}</h3><div data-show-button="true" data-more="" data-less="" data-product-type="content" data-product-id="{{ product.id }}" data-pf-type="ProductText" class="sc-oUbIU kkgvSC pf-9855ba4c">{{ product.content }}</div><a href="/products/rosen-top" target="_self" data-pf-type="Button" class="sc-pZdvY kuwSuz pf-3dac71d5"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-19d53dac">SHOP NOW</span></a></div></div></div>{% endform %}{% assign product = defaultProduct %}</div></div></div></div></div></div></div></div></div><script>
					window.__pagefly_setting__={"baseURL":"https://apps.pagefly.io","analyticsURL":"https://analytics.pagefly.io","isBackend":false,"cdnURL":"https://cdn.pagefly.io","pageflyVersion":"2.9.3","shopDomain":"amanda-uprichard.myshopify.com","elementData":{"pf-00e46ba6":{"listPosition":"bottom","limit":5,"height":"450px","spacing":"10px","listLayout":"slider","_type":"ProductImage"}},"pageTitle":"Cooking at Home: How to Make Sushi","pageType":"page","pageId":"ee935055-1e4d-4254-ade3-77268f0d425a","lazyLoad":false,"imageLazyLoad":false,"nativeImageLazyLoad":true,"trackingIDs":[]};
					window.__pagefly_setting__.moneyFormat = {{shop.money_format | json}}
				</script><script src="https://cdn.pagefly.io/pagefly/2.9.3/core/helper.js?t=20200415170407" defer></script>