
}
{% section 'slideshow' %}
 	max-width: 100%;
	max-height: 100%
    padding: 0;
}
  <div class="PageContent PageContent--narrow Rte">
    {{ page.content }}
  </div>
</div>
{%- if template == 'index' or template == 'page.slideshow' and section.settings.enable_transparent_header -%}
  {%- assign use_transparent_header = true -%}
{%- endif -%}
