<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:400|Oswald:400|Roboto:400&display=swap"><link rel="stylesheet" href="https://cdn.pagefly.io/pagefly/2.9.4/css/main-style.css?t=20200423150426"><link rel="stylesheet" href="{{ 'pagefly.a7159408.css' | asset_url }}">
		  {% if product_4438007054384 == null %}{%- assign product_4438007054384 = all_products['saffron-midi'] -%}{% endif %} {% if product_4458712399920 == null %}{%- assign product_4458712399920 = all_products['grandpa-shirt'] -%}{% endif %} {% if product_4446783012912 == null %}{%- assign product_4446783012912 = all_products['rosen-top'] -%}{% endif %} {% if product_4382939349040 == null %}{%- assign product_4382939349040 = all_products['sleeveless-saffron-dress'] -%}{% endif %} {% if product_4459655266352 == null %}{%- assign product_4459655266352 = all_products['panama-top'] -%}{% endif %}<script>
	window.__pageflyProducts = window.__pageflyProducts || {};
	window.__pageflyProducts["4438007054384"] = {
					id: {{product_4438007054384.id | json }},
					handle: {{product_4438007054384.handle | json }},
					title: {{product_4438007054384.title | json }},
					type: {{product_4438007054384.type | json }},
					url: {{product_4438007054384.url | json }},
					vendor: {{product_4438007054384.vendor | json }},
					variants: {{product_4438007054384.variants | json }},
					options: {{product_4438007054384.options | json }},
					media: {{product_4438007054384.media | json }},
					first_available_variant: {{product_4438007054384.first_available_variant | json }},
					has_only_default_variant: {{product_4438007054384.has_only_default_variant | json }},
					options_with_values: {{product_4438007054384.options_with_values | json }},
					selected_variant: {{product_4438007054384.selected_variant | json }},
					selected_or_first_available_variant: {{product_4438007054384.selected_or_first_available_variant | json }},
					tags: {{product_4438007054384.tags | json }},
					template_suffix: {{product_4438007054384.template_suffix | json }},
					featured_image: {{product_4438007054384.featured_image | json }},
					featured_media: {{product_4438007054384.featured_media | json }},
					images: {{product_4438007054384.images | json }}
				};window.__pageflyProducts["4458712399920"] = {
					id: {{product_4458712399920.id | json }},
					handle: {{product_4458712399920.handle | json }},
					title: {{product_4458712399920.title | json }},
					type: {{product_4458712399920.type | json }},
					url: {{product_4458712399920.url | json }},
					vendor: {{product_4458712399920.vendor | json }},
					variants: {{product_4458712399920.variants | json }},
					options: {{product_4458712399920.options | json }},
					media: {{product_4458712399920.media | json }},
					first_available_variant: {{product_4458712399920.first_available_variant | json }},
					has_only_default_variant: {{product_4458712399920.has_only_default_variant | json }},
					options_with_values: {{product_4458712399920.options_with_values | json }},
					selected_variant: {{product_4458712399920.selected_variant | json }},
					selected_or_first_available_variant: {{product_4458712399920.selected_or_first_available_variant | json }},
					tags: {{product_4458712399920.tags | json }},
					template_suffix: {{product_4458712399920.template_suffix | json }},
					featured_image: {{product_4458712399920.featured_image | json }},
					featured_media: {{product_4458712399920.featured_media | json }},
					images: {{product_4458712399920.images | json }}
				};window.__pageflyProducts["4446783012912"] = {
					id: {{product_4446783012912.id | json }},
					handle: {{product_4446783012912.handle | json }},
					title: {{product_4446783012912.title | json }},
					type: {{product_4446783012912.type | json }},
					url: {{product_4446783012912.url | json }},
					vendor: {{product_4446783012912.vendor | json }},
					variants: {{product_4446783012912.variants | json }},
					options: {{product_4446783012912.options | json }},
					media: {{product_4446783012912.media | json }},
					first_available_variant: {{product_4446783012912.first_available_variant | json }},
					has_only_default_variant: {{product_4446783012912.has_only_default_variant | json }},
					options_with_values: {{product_4446783012912.options_with_values | json }},
					selected_variant: {{product_4446783012912.selected_variant | json }},
					selected_or_first_available_variant: {{product_4446783012912.selected_or_first_available_variant | json }},
					tags: {{product_4446783012912.tags | json }},
					template_suffix: {{product_4446783012912.template_suffix | json }},
					featured_image: {{product_4446783012912.featured_image | json }},
					featured_media: {{product_4446783012912.featured_media | json }},
					images: {{product_4446783012912.images | json }}
				};window.__pageflyProducts["4382939349040"] = {
					id: {{product_4382939349040.id | json }},
					handle: {{product_4382939349040.handle | json }},
					title: {{product_4382939349040.title | json }},
					type: {{product_4382939349040.type | json }},
					url: {{product_4382939349040.url | json }},
					vendor: {{product_4382939349040.vendor | json }},
					variants: {{product_4382939349040.variants | json }},
					options: {{product_4382939349040.options | json }},
					media: {{product_4382939349040.media | json }},
					first_available_variant: {{product_4382939349040.first_available_variant | json }},
					has_only_default_variant: {{product_4382939349040.has_only_default_variant | json }},
					options_with_values: {{product_4382939349040.options_with_values | json }},
					selected_variant: {{product_4382939349040.selected_variant | json }},
					selected_or_first_available_variant: {{product_4382939349040.selected_or_first_available_variant | json }},
					tags: {{product_4382939349040.tags | json }},
					template_suffix: {{product_4382939349040.template_suffix | json }},
					featured_image: {{product_4382939349040.featured_image | json }},
					featured_media: {{product_4382939349040.featured_media | json }},
					images: {{product_4382939349040.images | json }}
				};window.__pageflyProducts["4459655266352"] = {
					id: {{product_4459655266352.id | json }},
					handle: {{product_4459655266352.handle | json }},
					title: {{product_4459655266352.title | json }},
					type: {{product_4459655266352.type | json }},
					url: {{product_4459655266352.url | json }},
					vendor: {{product_4459655266352.vendor | json }},
					variants: {{product_4459655266352.variants | json }},
					options: {{product_4459655266352.options | json }},
					media: {{product_4459655266352.media | json }},
					first_available_variant: {{product_4459655266352.first_available_variant | json }},
					has_only_default_variant: {{product_4459655266352.has_only_default_variant | json }},
					options_with_values: {{product_4459655266352.options_with_values | json }},
					selected_variant: {{product_4459655266352.selected_variant | json }},
					selected_or_first_available_variant: {{product_4459655266352.selected_or_first_available_variant | json }},
					tags: {{product_4459655266352.tags | json }},
					template_suffix: {{product_4459655266352.template_suffix | json }},
					featured_image: {{product_4459655266352.featured_image | json }},
					featured_media: {{product_4459655266352.featured_media | json }},
					images: {{product_4459655266352.images | json }}
				};
	</script><div class="__pf" id="__pf"><div data-pf-type="Body" class="sc-pRgDJ fzXWJx pf-0be31190"><div data-pf-type="Layout" class="pf-3ad40be3"><div data-container="true" class="sc-pZopv bjKdkd pf-8412a37c" data-pf-type="Section"><div class="sc-pQQXS iWCqut" style="max-width: 1170px;"><div class="sc-qPjXN eYzxUD pf-18d8691a pf-r pf-r-eh" data-pf-type="Row" style="--pf-s-lg:15px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12"><div class="sc-pkUyL fTyjzF pf-2f7018d8" data-pf-type="Column"><h3 data-pf-type="Heading" class="sc-oTLFK lcHmGL pf-38322f70"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-3d503832">At home with the AU TEAM</span></h3></div></div></div></div></div><div data-container="true" class="sc-pZopv bjKdkd pf-691aae1a" data-pf-type="Section"><div class="sc-pQQXS iWCqut" style="max-width: 1170px;"><div class="sc-qPjXN eYzxUD pf-bfa319dd pf-r pf-r-eh" data-pf-type="Row" style="--pf-s-lg:15px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12"><div class="sc-pkUyL fTyjzF pf-9dbdbfa3" data-pf-type="Column"><p data-pf-type="Paragraph2" class="sc-pkvvt cbrLgP pf-a71f9dbd"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-546fa71f">Meet some of the AU TEAM and see what they've been up to while at home. Read on to see what were watching, wearing and eating!</span></p></div></div></div></div></div><div data-container="true" class="sc-pZopv bjKdkd pf-80e57031" data-pf-type="Section"><div class="sc-pQQXS iWCqut" style="max-width: 1170px;"><div class="sc-qPjXN eYzxUD pf-c2fc80e5 pf-r pf-r-eh" data-pf-type="Row" style="--pf-s-lg:15px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--4 pf-c-md--4 pf-c-lg--4"><div class="sc-pkUyL fTyjzF pf-7346defe" data-pf-type="Column"><img sizes="(min-width: 992px) 1200px, (min-width: 768px) and (max-width: 991px) 800px, 400px" srcset="https://cdn.shopify.com/s/files/1/0201/3874/t/115/assets/pf-1d3f0bdc--employee-highlight-alexa.jpg?v=1587671375 1200w, https://cdn.shopify.com/s/files/1/0201/3874/t/115/assets/pf-1d3f0bdc--employee-highlight-alexa_800x791.jpg?v=1587671375&resized 800w, https://cdn.shopify.com/s/files/1/0201/3874/t/115/assets/pf-1d3f0bdc--employee-highlight-alexa_400x396.jpg?v=1587671375&resized 400w" class="sc-qZtVr dLIPjF pf-7031b961" data-pf-type="Image2"></div></div><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--4 pf-c-md--4 pf-c-lg--4"><div class="sc-pkUyL fTyjzF pf-defef418" data-pf-type="Column"><img sizes="(min-width: 992px) 1200px, (min-width: 768px) and (max-width: 991px) 800px, 400px" srcset="https://cdn.shopify.com/s/files/1/0201/3874/t/115/assets/pf-53deeaa3--employee-highlight-paul.jpg?v=1587671393 1200w, https://cdn.shopify.com/s/files/1/0201/3874/t/115/assets/pf-53deeaa3--employee-highlight-paul_800x796.jpg?v=1587671393&resized 800w, https://cdn.shopify.com/s/files/1/0201/3874/t/115/assets/pf-53deeaa3--employee-highlight-paul_400x398.jpg?v=1587671393&resized 400w" class="sc-qZtVr dLIPjF pf-b9616d1d" data-pf-type="Image2"></div></div><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--4 pf-c-md--4 pf-c-lg--4"><div class="sc-pkUyL fTyjzF pf-f418c2fc" data-pf-type="Column"><img sizes="(min-width: 992px) 1200px, (min-width: 768px) and (max-width: 991px) 800px, 400px" srcset="https://cdn.shopify.com/s/files/1/0201/3874/t/115/assets/pf-0bdc53de--employee-highlight-kurie.jpg?v=1587671384 1200w, https://cdn.shopify.com/s/files/1/0201/3874/t/115/assets/pf-0bdc53de--employee-highlight-kurie_800x802.jpg?v=1587671384&resized 800w, https://cdn.shopify.com/s/files/1/0201/3874/t/115/assets/pf-0bdc53de--employee-highlight-kurie_400x401.jpg?v=1587671384&resized 400w" class="sc-qZtVr dLIPjF pf-6d1d3f0b" data-pf-type="Image2"></div></div></div></div></div><div data-container="true" class="sc-pZopv bjKdkd pf-49d1bc87" data-pf-type="Section"><div class="sc-pQQXS iWCqut" style="max-width: 1170px;"><div class="sc-qPjXN eYzxUD pf-620b49d1 pf-r pf-r-eh" data-pf-type="Row" style="--pf-s-lg:15px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--6 pf-c-md--6 pf-c-lg--6"><div class="sc-pkUyL fTyjzF pf-eaa3b64a" data-pf-type="Column"><img sizes="(min-width: 992px) 1200px, (min-width: 768px) and (max-width: 991px) 800px, 400px" srcset="https://cdn.shopify.com/s/files/1/0201/3874/t/115/assets/pf-dc53deea--employee-highlight-maddie.jpg?v=1587671388 1200w, https://cdn.shopify.com/s/files/1/0201/3874/t/115/assets/pf-dc53deea--employee-highlight-maddie_800x789.jpg?v=1587671388&resized 800w, https://cdn.shopify.com/s/files/1/0201/3874/t/115/assets/pf-dc53deea--employee-highlight-maddie_400x395.jpg?v=1587671388&resized 400w" class="sc-qZtVr dLIPjF pf-bc871e74" data-pf-type="Image2"></div></div><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--6 pf-c-md--6 pf-c-lg--6"><div class="sc-pkUyL fTyjzF pf-b64a620b" data-pf-type="Column"><img sizes="(min-width: 992px) 1200px, (min-width: 768px) and (max-width: 991px) 800px, 400px" srcset="https://cdn.shopify.com/s/files/1/0201/3874/t/115/assets/pf-3f0bdc53--employee-highlight-fernanda.jpg?v=1587671379 1200w, https://cdn.shopify.com/s/files/1/0201/3874/t/115/assets/pf-3f0bdc53--employee-highlight-fernanda_800x776.jpg?v=1587671379&resized 800w, https://cdn.shopify.com/s/files/1/0201/3874/t/115/assets/pf-3f0bdc53--employee-highlight-fernanda_400x388.jpg?v=1587671379&resized 400w" class="sc-qZtVr dLIPjF pf-1e747396" data-pf-type="Image2"></div></div></div></div></div><div data-container="true" class="sc-pZopv bjKdkd pf-7396f4b2" data-pf-type="Section"><div class="sc-pQQXS iWCqut" style="max-width: 1170px;"><div class="sc-qPjXN eYzxUD pf-c85f7daa pf-r pf-r-eh" data-pf-type="Row" style="--pf-s-lg:15px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12"><div class="sc-pkUyL fTyjzF pf-8d59c85f" data-pf-type="Column"><h3 data-pf-type="Heading" class="sc-oTLFK lcHmGL pf-be978d59"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-ff22be97">Shop some of their favorite styles:</span></h3></div></div></div></div></div><div data-container="true" class="sc-pZopv bjKdkd pf-f4b666d4" data-pf-type="Section"><div class="sc-pQQXS iWCqut" style="max-width: 1170px;"><div class="sc-qPjXN eYzxUD pf-a7c9f4b6 pf-r pf-r-eh" data-pf-type="Row" style="--pf-s-lg:15px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--4 pf-c-md--4 pf-c-lg--4"><div class="sc-pkUyL fTyjzF pf-7daa4635" data-pf-type="Column"><div data-product-id="4438007054384" data-default-source="featured" data-pf-type="ProductImage" class="sc-qQZrP gBrOGl pf-66d41958">{% assign img_size = product_4438007054384.images.size %}<div class="sc-psbuI erPCE">{% if img_size > 1 %}<div class="sc-pjGtN ioSCNC pf-navigation-list-image prev-arrow"><i class="fa fa-angle-left"></i></div>{% endif %}<picture data-href="{{ product_4438007054384.url }}" height="450px" spacing="10px" data-pf-type="MasterImage" data-magnifier="true" mode="view" class="sc-pzLIQ cnATpS" style="height: auto;"><img src="{{ product_4438007054384.featured_image | img_url: 'master' }}" alt="{{ product_4438007054384.featured_image.alt | escape }}" data-img-id="{{ product_4438007054384.featured_image.id }}" width="{{ product_4438007054384.featured_image.width }}" height="{{ product_4438007054384.featured_image.height }}"></picture>{% if img_size > 1 %}<div spacing="10px" class="sc-pjGtN ioSCNC pf-navigation-list-image next-arrow"><i class="fa fa-angle-right"></i></div>{% endif %}</div><div data-pf-type="ProductGallery" data-product-id="4438007054384" height="450px" spacing="10px" class="sc-qZusK eGGxUx">{% if img_size > 5 %}<div class="sc-pjGtN ioSCNC pf-navigation-list-image prev-arrow"><i class="fa fa-angle-left"></i></div>{% endif %}<div class="pf-p-image-small-container"><div class="pf-small-img-roll" style="padding-top: 5px; margin: -5px;">	{% for image in product_4438007054384.images %} <div class="sc-pcjuG uJAsR" style="margin: 0px 5px;"><img src="{{ image.src | img_url: 'master' }}" class="pf-show-small-img" alt="{{ image.alt | escape }}" data-img-id="{{ image.id }}"></div>{% endfor %} </div></div>{% if img_size > 5 %}<div class="sc-pjGtN ioSCNC pf-navigation-list-image next-arrow"><i class="fa fa-angle-right"></i></div>{% endif %}</div></div></div></div><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--4 pf-c-md--4 pf-c-lg--4"><div class="sc-pkUyL fTyjzF pf-463509ec" data-pf-type="Column"><div data-product-id="4458712399920" data-default-source="featured" data-pf-type="ProductImage" class="sc-qQZrP gBrOGl pf-2129f162">{% assign img_size = product_4458712399920.images.size %}<div class="sc-psbuI erPCE">{% if img_size > 1 %}<div class="sc-pjGtN ioSCNC pf-navigation-list-image prev-arrow"><i class="fa fa-angle-left"></i></div>{% endif %}<picture data-href="{{ product_4458712399920.url }}" height="450px" spacing="10px" data-pf-type="MasterImage" data-magnifier="true" mode="view" class="sc-pzLIQ cnATpS" style="height: auto;"><img src="{{ product_4458712399920.featured_image | img_url: 'master' }}" alt="{{ product_4458712399920.featured_image.alt | escape }}" data-img-id="{{ product_4458712399920.featured_image.id }}" width="{{ product_4458712399920.featured_image.width }}" height="{{ product_4458712399920.featured_image.height }}"></picture>{% if img_size > 1 %}<div spacing="10px" class="sc-pjGtN ioSCNC pf-navigation-list-image next-arrow"><i class="fa fa-angle-right"></i></div>{% endif %}</div><div data-pf-type="ProductGallery" data-product-id="4458712399920" height="450px" spacing="10px" class="sc-qZusK eGGxUx">{% if img_size > 5 %}<div class="sc-pjGtN ioSCNC pf-navigation-list-image prev-arrow"><i class="fa fa-angle-left"></i></div>{% endif %}<div class="pf-p-image-small-container"><div class="pf-small-img-roll" style="padding-top: 5px; margin: -5px;">	{% for image in product_4458712399920.images %} <div class="sc-pcjuG uJAsR" style="margin: 0px 5px;"><img src="{{ image.src | img_url: 'master' }}" class="pf-show-small-img" alt="{{ image.alt | escape }}" data-img-id="{{ image.id }}"></div>{% endfor %} </div></div>{% if img_size > 5 %}<div class="sc-pjGtN ioSCNC pf-navigation-list-image next-arrow"><i class="fa fa-angle-right"></i></div>{% endif %}</div></div></div></div><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--4 pf-c-md--4 pf-c-lg--4"><div class="sc-pkUyL fTyjzF pf-09eca7c9" data-pf-type="Column"><div data-product-id="4446783012912" data-default-source="featured" data-pf-type="ProductImage" class="sc-qQZrP gBrOGl pf-f162ca0f">{% assign img_size = product_4446783012912.images.size %}<div class="sc-psbuI erPCE">{% if img_size > 1 %}<div class="sc-pjGtN ioSCNC pf-navigation-list-image prev-arrow"><i class="fa fa-angle-left"></i></div>{% endif %}<picture data-href="{{ product_4446783012912.url }}" height="450px" spacing="10px" data-pf-type="MasterImage" data-magnifier="true" mode="view" class="sc-pzLIQ cnATpS" style="height: auto;"><img src="{{ product_4446783012912.featured_image | img_url: 'master' }}" alt="{{ product_4446783012912.featured_image.alt | escape }}" data-img-id="{{ product_4446783012912.featured_image.id }}" width="{{ product_4446783012912.featured_image.width }}" height="{{ product_4446783012912.featured_image.height }}"></picture>{% if img_size > 1 %}<div spacing="10px" class="sc-pjGtN ioSCNC pf-navigation-list-image next-arrow"><i class="fa fa-angle-right"></i></div>{% endif %}</div><div data-pf-type="ProductGallery" data-product-id="4446783012912" height="450px" spacing="10px" class="sc-qZusK eGGxUx">{% if img_size > 5 %}<div class="sc-pjGtN ioSCNC pf-navigation-list-image prev-arrow"><i class="fa fa-angle-left"></i></div>{% endif %}<div class="pf-p-image-small-container"><div class="pf-small-img-roll" style="padding-top: 5px; margin: -5px;">	{% for image in product_4446783012912.images %} <div class="sc-pcjuG uJAsR" style="margin: 0px 5px;"><img src="{{ image.src | img_url: 'master' }}" class="pf-show-small-img" alt="{{ image.alt | escape }}" data-img-id="{{ image.id }}"></div>{% endfor %} </div></div>{% if img_size > 5 %}<div class="sc-pjGtN ioSCNC pf-navigation-list-image next-arrow"><i class="fa fa-angle-right"></i></div>{% endif %}</div></div></div></div></div><div class="sc-qPjXN eYzxUD pf-9a782363 pf-r pf-r-eh" data-pf-type="Row" style="--pf-s-lg:15px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--6 pf-c-md--6 pf-c-lg--6"><div class="sc-pkUyL fTyjzF pf-ca0fdd39" data-pf-type="Column"><div data-product-id="4382939349040" data-default-source="featured" data-pf-type="ProductImage" class="sc-qQZrP gBrOGl pf-23638470">{% assign img_size = product_4382939349040.images.size %}<div class="sc-psbuI erPCE">{% if img_size > 1 %}<div class="sc-pjGtN ioSCNC pf-navigation-list-image prev-arrow"><i class="fa fa-angle-left"></i></div>{% endif %}<picture data-href="{{ product_4382939349040.url }}" height="450px" spacing="10px" data-pf-type="MasterImage" data-magnifier="true" mode="view" class="sc-pzLIQ cnATpS" style="height: auto;"><img src="{{ product_4382939349040.featured_image | img_url: 'master' }}" alt="{{ product_4382939349040.featured_image.alt | escape }}" data-img-id="{{ product_4382939349040.featured_image.id }}" width="{{ product_4382939349040.featured_image.width }}" height="{{ product_4382939349040.featured_image.height }}"></picture>{% if img_size > 1 %}<div spacing="10px" class="sc-pjGtN ioSCNC pf-navigation-list-image next-arrow"><i class="fa fa-angle-right"></i></div>{% endif %}</div><div data-pf-type="ProductGallery" data-product-id="4382939349040" height="450px" spacing="10px" class="sc-qZusK likqwf">{% if img_size > 5 %}<div class="sc-pjGtN ioSCNC pf-navigation-list-image prev-arrow"><i class="fa fa-angle-left"></i></div>{% endif %}<div class="pf-p-image-small-container"><div class="pf-small-img-roll" style="padding-top: 5px; margin: -5px;">	{% for image in product_4382939349040.images %} <div class="sc-pcjuG uJAsR" style="margin: 0px 5px;"><img src="{{ image.src | img_url: 'master' }}" class="pf-show-small-img" alt="{{ image.alt | escape }}" data-img-id="{{ image.id }}"></div>{% endfor %} </div></div>{% if img_size > 5 %}<div class="sc-pjGtN ioSCNC pf-navigation-list-image next-arrow"><i class="fa fa-angle-right"></i></div>{% endif %}</div></div></div></div><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--6 pf-c-md--6 pf-c-lg--6"><div class="sc-pkUyL fTyjzF pf-dd399a78" data-pf-type="Column"><div data-product-id="4459655266352" data-default-source="featured" data-pf-type="ProductImage" class="sc-qQZrP gBrOGl pf-84703ff2">{% assign img_size = product_4459655266352.images.size %}<div class="sc-psbuI erPCE">{% if img_size > 1 %}<div class="sc-pjGtN ioSCNC pf-navigation-list-image prev-arrow"><i class="fa fa-angle-left"></i></div>{% endif %}<picture height="450px" spacing="10px" data-pf-type="MasterImage" data-magnifier="true" mode="view" class="sc-pzLIQ cnATpS" style="height: auto;"><img src="{{ product_4459655266352.featured_image | img_url: 'master' }}" alt="{{ product_4459655266352.featured_image.alt | escape }}" data-img-id="{{ product_4459655266352.featured_image.id }}" width="{{ product_4459655266352.featured_image.width }}" height="{{ product_4459655266352.featured_image.height }}"></picture>{% if img_size > 1 %}<div spacing="10px" class="sc-pjGtN ioSCNC pf-navigation-list-image next-arrow"><i class="fa fa-angle-right"></i></div>{% endif %}</div><div data-pf-type="ProductGallery" data-product-id="4459655266352" height="450px" spacing="10px" class="sc-qZusK likqwf">{% if img_size > 5 %}<div class="sc-pjGtN ioSCNC pf-navigation-list-image prev-arrow"><i class="fa fa-angle-left"></i></div>{% endif %}<div class="pf-p-image-small-container"><div class="pf-small-img-roll" style="padding-top: 5px; margin: -5px;">	{% for image in product_4459655266352.images %} <div class="sc-pcjuG uJAsR" style="margin: 0px 5px;"><img src="{{ image.src | img_url: 'master' }}" class="pf-show-small-img" alt="{{ image.alt | escape }}" data-img-id="{{ image.id }}"></div>{% endfor %} </div></div>{% if img_size > 5 %}<div class="sc-pjGtN ioSCNC pf-navigation-list-image next-arrow"><i class="fa fa-angle-right"></i></div>{% endif %}</div></div></div></div></div></div></div></div></div></div><script>
					window.__pagefly_setting__={"baseURL":"https://apps.pagefly.io","analyticsURL":"https://analytics.pagefly.io","isBackend":false,"cdnURL":"https://cdn.pagefly.io","pageflyVersion":"2.9.4","shopDomain":"amanda-uprichard.myshopify.com","elementData":{"pf-66d41958":{"listPosition":"bottom","limit":5,"height":"450px","spacing":"10px","listLayout":"slider","_type":"ProductImage"},"pf-2129f162":{"listPosition":"bottom","limit":5,"height":"450px","spacing":"10px","listLayout":"slider","_type":"ProductImage"},"pf-f162ca0f":{"listPosition":"bottom","limit":5,"height":"450px","spacing":"10px","listLayout":"slider","_type":"ProductImage"},"pf-23638470":{"listPosition":"bottom","limit":5,"height":"450px","spacing":"10px","listLayout":"slider","_type":"ProductImage"},"pf-84703ff2":{"listPosition":"bottom","limit":5,"height":"450px","spacing":"10px","listLayout":"slider","_type":"ProductImage"}},"pageTitle":"At home with the AU TEAM","pageType":"page","pageId":"a7159408-e364-42cf-aaf3-24e210bb9617","lazyLoad":false,"imageLazyLoad":false,"nativeImageLazyLoad":true,"trackingIDs":[]};
					window.__pagefly_setting__.moneyFormat = {{shop.money_format | json}}
				</script><script src="https://cdn.pagefly.io/pagefly/2.9.4/core/helper.js?t=20200423150426" defer></script>