{% section 'product-template' %}
{% section 'related-products' %}
{% section 'recently-viewed-products' %}
{% section 'about-blurb' %}

{% if product.tags contains "best seller" %}
	BEST SELLER
{% endif %}
{% if product.tags contains "new-badge" %}
  NEW
{% endif %}